openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Corporation API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Corporation
paths:
  /corporations/npccorps:
    get:
      description: 'Get a list of npc corporations


        This route expires daily at 11:05'
      operationId: GetCorporationsNpccorps
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsNpccorpsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get npc corporations
      tags:
      - Corporation
      x-compatibility-date: '2020-01-01'
  /corporations/{corporation_id}:
    get:
      description: Public information about a corporation
      operationId: GetCorporationsCorporationId
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
          description: The ID of the corporation
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsDetail'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get corporation's public information
      tags:
      - Corporation
      x-cache-age: 3600
      x-cache-mode: event-based
      x-compatibility-date: '2020-01-01'
  /corporations/{corporation_id}/alliancehistory:
    get:
      description: Get a list of all the alliances a corporation has been a member of
      operationId: GetCorporationsCorporationIdAlliancehistory
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdAlliancehistoryGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get alliance history
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /corporations/{corporation_id}/blueprints:
    get:
      description: Returns a list of blueprints the corporation owns
      operationId: GetCorporationsCorporationIdBlueprints
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdBlueprintsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_blueprints.v1
      summary: Get corporation blueprints
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-industry
        max-tokens: 600
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/containers/logs:
    get:
      description: Returns logs recorded in the past seven days from all audit log secure containers (ALSC) owned by a given corporation
      operationId: GetCorporationsCorporationIdContainersLogs
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdContainersLogsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_container_logs.v1
      summary: Get all corporation ALSC logs
      tags:
      - Corporation
      x-cache-age: 600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-structure
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/divisions:
    get:
      description: Return corporation hangar and wallet division names, only show if a division is not using the default name
      operationId: GetCorporationsCorporationIdDivisions
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdDivisionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_divisions.v1
      summary: Get corporation divisions
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-wallet
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/facilities:
    get:
      description: Return a corporation's facilities
      operationId: GetCorporationsCorporationIdFacilities
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdFacilitiesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_facilities.v1
      summary: Get corporation facilities
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-structure
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Factory_Manager
  /corporations/{corporation_id}/icons:
    get:
      description: Get the icon urls for a corporation
      operationId: GetCorporationsCorporationIdIcons
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdIconsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get corporation icon
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /corporations/{corporation_id}/medals:
    get:
      description: Returns a corporation's medals
      operationId: GetCorporationsCorporationIdMedals
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMedalsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_medals.v1
      summary: Get corporation medals
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-detail
        max-tokens: 300
        window-size: 15m
  /corporations/{corporation_id}/medals/issued:
    get:
      description: Returns medals issued by a corporation
      operationId: GetCorporationsCorporationIdMedalsIssued
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMedalsIssuedGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_medals.v1
      summary: Get corporation issued medals
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-detail
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/members:
    get:
      description: Return the current member list of a corporation, the token's character need to be a member of the corporation.
      operationId: GetCorporationsCorporationIdMembers
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMembersGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_corporation_membership.v1
      summary: Get corporation members
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
  /corporations/{corporation_id}/members/limit:
    get:
      description: Return a corporation's member limit, not including CEO himself
      operationId: GetCorporationsCorporationIdMembersLimit
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMembersLimitGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.track_members.v1
      summary: Get corporation member limit
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/members/titles:
    get:
      description: Returns a corporation's members' titles
      operationId: GetCorporationsCorporationIdMembersTitles
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMembersTitlesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_titles.v1
      summary: Get corporation's members' titles
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/membertracking:
    get:
      description: Returns additional information about a corporation's members which helps tracking their activities
      operationId: GetCorporationsCorporationIdMembertracking
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdMembertrackingGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.track_members.v1
      summary: Track corporation members
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/roles:
    get:
      description: Return the roles of all members if the character has the personnel manager role or any grantable role.
      operationId: GetCorporationsCorporationIdRoles
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdRolesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_corporation_membership.v1
      summary: Get corporation member roles
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
  /corporations/{corporation_id}/roles/history:
    get:
      description: Return how roles have changed for a coporation's members, up to a month
      operationId: GetCorporationsCorporationIdRolesHistory
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdRolesHistoryGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_corporation_membership.v1
      summary: Get corporation member roles history
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/shareholders:
    get:
      description: Return the current shareholders of a corporation.
      operationId: GetCorporationsCorporationIdShareholders
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdShareholdersGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_corporation_wallets.v1
      summary: Get corporation shareholders
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-detail
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/standings:
    get:
      description: Return corporation standings from agents, NPC corporations, and factions
      operationId: GetCorporationsCorporationIdStandings
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdStandingsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_standings.v1
      summary: Get corporation standings
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-member
        max-tokens: 300
        window-size: 15m
  /corporations/{corporation_id}/starbases:
    get:
      description: Returns list of corporation starbases (POSes)
      operationId: GetCorporationsCorporationIdStarbases
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdStarbasesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_starbases.v1
      summary: Get corporation starbases (POSes)
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-structure
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/starbases/{starbase_id}:
    get:
      description: Returns various settings and fuels of a starbase (POS)
      operationId: GetCorporationsCorporationIdStarbasesStarbaseId
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: path
        name: starbase_id
        required: true
        schema:
          description: An EVE starbase (POS) ID
          format: int64
          type: integer
      - in: query
        name: system_id
        required: true
        schema:
          description: The solar system this starbase (POS) is located in,
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdStarbasesStarbaseIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_starbases.v1
      summary: Get starbase (POS) detail
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-structure
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
  /corporations/{corporation_id}/structures:
    get:
      description: 'Get a list of corporation structures. This route''s version includes the changes to structures detailed in this blog: https://www.eveonline.com/article/upwell-2.0-structures-changes-coming-on-february-13th'
      operationId: GetCorporationsCorporationIdStructures
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdStructuresGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_structures.v1
      summary: Get corporation structures
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-structure
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Station_Manager
  /corporations/{corporation_id}/titles:
    get:
      description: Returns a corporation's titles
      operationId: GetCorporationsCorporationIdTitles
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdTitlesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_titles.v1
      summary: Get corporation titles
      tags:
      - Corporation
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-detail
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Director
components:
  schemas:
    CorporationsCorporationIdTitlesGet:
      items:
        properties:
          grantable_roles:
            items:
              description: grantable_role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_base:
            items:
              description: grantable_roles_at_base string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_hq:
            items:
              description: grantable_roles_at_hq string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_other:
            items:
              description: grantable_roles_at_other string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          name:
            type: string
          roles:
            items:
              description: role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_base:
            items:
              description: roles_at_base string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_hq:
            items:
              description: roles_at_hq string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_other:
            items:
              description: roles_at_other string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          title_id:
            format: int64
            type: integer
        type: object
      type: array
    StationID:
      examples:
      - 60000001
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdDivisionsGet:
      properties:
        hangar:
          items:
            description: hangar object
            properties:
              division:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        wallet:
          items:
            description: wallet object
            properties:
              division:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
      type: object
    CorporationsCorporationIdRolesGet:
      items:
        properties:
          character_id:
            format: int64
            type: integer
          grantable_roles:
            items:
              description: grantable_role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_base:
            items:
              description: grantable_roles_at_base string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_hq:
            items:
              description: grantable_roles_at_hq string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          grantable_roles_at_other:
            items:
              description: grantable_roles_at_other string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles:
            items:
              description: role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_base:
            items:
              description: roles_at_base string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_hq:
            items:
              description: roles_at_hq string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          roles_at_other:
            items:
              description: roles_at_other string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
        required:
        - character_id
        type: object
      type: array
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdShareholdersGet:
      description: List of shareholders
      items:
        properties:
          share_count:
            format: int64
            type: integer
          shareholder_id:
            format: int64
            type: integer
          shareholder_type:
            enum:
            - character
            - corporation
            type: string
        required:
        - shareholder_id
        - shareholder_type
        - share_count
        type: object
      type: array
    CorporationsCorporationIdAlliancehistoryGet:
      items:
        properties:
          alliance_id:
            format: int64
            type: integer
          is_deleted:
            description: True if the alliance has been closed
            type: boolean
          record_id:
            description: An incrementing ID that can be used to canonically establish order of records in cases where dates may be ambiguous
            format: int64
            type: integer
          start_date:
            format: date-time
            type: string
        required:
        - start_date
        - record_id
        type: object
      type: array
    CorporationsCorporationIdMedalsGet:
      items:
        properties:
          created_at:
            format: date-time
            type: string
          creator_id:
            description: ID of the character who created this medal
            format: int64
            type: integer
          description:
            type: string
          medal_id:
            format: int64
            type: integer
          title:
            type: string
        required:
        - medal_id
        - title
        - description
        - creator_id
        - created_at
        type: object
      type: array
    CorporationsCorporationIdStarbasesStarbaseIdGet:
      properties:
        allow_alliance_members:
          type: boolean
        allow_corporation_members:
          type: boolean
        anchor:
          description: Who can anchor starbase (POS) and its structures
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        attack_if_at_war:
          type: boolean
        attack_if_other_security_status_dropping:
          type: boolean
        attack_security_status_threshold:
          description: Starbase (POS) will attack if target's security standing is lower than this value
          format: double
          type: number
        attack_standing_threshold:
          description: Starbase (POS) will attack if target's standing is lower than this value
          format: double
          type: number
        fuel_bay_take:
          description: Who can take fuel blocks out of the starbase (POS)'s fuel bay
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        fuel_bay_view:
          description: Who can view the starbase (POS)'s fule bay. Characters either need to have required role or belong to the starbase (POS) owner's corporation or alliance, as described by the enum, all other access settings follows the same scheme
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        fuels:
          description: Fuel blocks and other things that will be consumed when operating a starbase (POS)
          items:
            description: fuel object
            properties:
              quantity:
                format: int64
                type: integer
              type_id:
                format: int64
                type: integer
            required:
            - type_id
            - quantity
            type: object
          type: array
        offline:
          description: Who can offline starbase (POS) and its structures
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        online:
          description: Who can online starbase (POS) and its structures
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        unanchor:
          description: Who can unanchor starbase (POS) and its structures
          enum:
          - alliance_member
          - config_starbase_equipment_role
          - corporation_member
          - starbase_fuel_technician_role
          type: string
        use_alliance_standings:
          description: True if the starbase (POS) is using alliance standings, otherwise using corporation's
          type: boolean
      required:
      - fuel_bay_view
      - fuel_bay_take
      - anchor
      - unanchor
      - online
      - offline
      - allow_corporation_members
      - allow_alliance_members
      - use_alliance_standings
      - attack_if_other_security_status_dropping
      - attack_if_at_war
      type: object
    CorporationsCorporationIdMedalsIssuedGet:
      items:
        properties:
          character_id:
            description: ID of the character who was rewarded this medal
            format: int64
            type: integer
          issued_at:
            format: date-time
            type: string
          issuer_id:
            description: ID of the character who issued the medal
            format: int64
            type: integer
          medal_id:
            format: int64
            type: integer
          reason:
            type: string
          status:
            enum:
            - private
            - public
            type: string
        required:
        - medal_id
        - character_id
        - reason
        - status
        - issuer_id
        - issued_at
        type: object
      type: array
    CorporationsDetail:
      properties:
        alliance_id:
          $ref: '#/components/schemas/AllianceID'
          description: Corporation's alliance ID
        ceo_id:
          $ref: '#/components/schemas/CharacterID'
          description: Corporation's CEO ID
        creator_id:
          $ref: '#/components/schemas/CharacterID'
          description: Corporation's creator ID
        date_founded:
          description: Corporation's founding date
          format: date-time
          type: string
        description:
          description: Corporation's description
          type: string
        faction_id:
          $ref: '#/components/schemas/FactionID'
          description: Corporation's faction ID
        home_station_id:
          $ref: '#/components/schemas/StationID'
          description: Corporation's home station ID
        member_count:
          description: Corporation's member count
          format: int64
          type: integer
        name:
          description: Corporation's name
          type: string
        shares:
          description: Corporation's shares
          format: int64
          type: integer
        tax_rate:
          description: Corporation's tax rate
          format: double
          type: number
        ticker:
          description: Corporation's short name
          type: string
        url:
          description: Corporation's URL
          type: string
        war_eligible:
          description: Corporation's war eligible
          type: boolean
      required:
      - ceo_id
      - creator_id
      - member_count
      - name
      - tax_rate
      - ticker
      type: object
    CorporationsCorporationIdStructuresGet:
      items:
        properties:
          corporation_id:
            description: ID of the corporation that owns the structure
            format: int64
            type: integer
          fuel_expires:
            description: Date on which the structure will run out of fuel
            format: date-time
            type: string
          name:
            description: The structure name
            type: string
          next_reinforce_apply:
            description: The date and time when the structure's newly requested reinforcement times (e.g. next_reinforce_hour and next_reinforce_day) will take effect
            format: date-time
            type: string
          next_reinforce_hour:
            description: The requested change to reinforce_hour that will take effect at the time shown by next_reinforce_apply
            format: int64
            type: integer
          profile_id:
            description: The id of the ACL profile for this citadel
            format: int64
            type: integer
          reinforce_hour:
            description: The hour of day that determines the four hour window when the structure will randomly exit its reinforcement periods and become vulnerable to attack against its armor and/or hull. The structure will become vulnerable at a random time that is +/- 2 hours centered on the value of this property
            format: int64
            type: integer
          services:
            description: Contains a list of service upgrades, and their state
            items:
              description: service object
              properties:
                name:
                  type: string
                state:
                  enum:
                  - online
                  - offline
                  - cleanup
                  type: string
              required:
              - name
              - state
              type: object
            type: array
          state:
            enum:
            - anchor_vulnerable
            - anchoring
            - armor_reinforce
            - armor_vulnerable
            - deploy_vulnerable
            - fitting_invulnerable
            - hull_reinforce
            - hull_vulnerable
            - online_deprecated
            - onlining_vulnerable
            - shield_vulnerable
            - unanchored
            - unknown
            type: string
          state_timer_end:
            description: Date at which the structure will move to it's next state
            format: date-time
            type: string
          state_timer_start:
            description: Date at which the structure entered it's current state
            format: date-time
            type: string
          structure_id:
            description: The Item ID of the structure
            format: int64
            type: integer
          system_id:
            description: The solar system the structure is in
            format: int64
            type: integer
          type_id:
            description: The type id of the structure
            format: int64
            type: integer
          unanchors_at:
            description: Date at which the structure will unanchor
            format: date-time
            type: string
        required:
        - structure_id
        - type_id
        - corporation_id
        - system_id
        - profile_id
        - state
        type: object
      type: array
    CorporationsCorporationIdBlueprintsGet:
      items:
        properties:
          item_id:
            description: Unique ID for this item.
            format: int64
            type: integer
          location_flag:
            description: Type of the location_id
            enum:
            - AssetSafety
            - AutoFit
            - Bonus
            - Booster
            - BoosterBay
            - Capsule
            - CapsuleerDeliveries
            - Cargo
            - CorpDeliveries
            - CorpSAG1
            - CorpSAG2
            - CorpSAG3
            - CorpSAG4
            - CorpSAG5
            - CorpSAG6
            - CorpSAG7
            - CorporationGoalDeliveries
            - CrateLoot
            - Deliveries
            - DroneBay
            - DustBattle
            - DustDatabank
            - ExpeditionHold
            - FighterBay
            - FighterTube0
            - FighterTube1
            - FighterTube2
            - FighterTube3
            - FighterTube4
            - FleetHangar
            - FrigateEscapeBay
            - Hangar
            - HangarAll
            - HiSlot0
            - HiSlot1
            - HiSlot2
            - HiSlot3
            - HiSlot4
            - HiSlot5
            - HiSlot6
            - HiSlot7
            - HiddenModifiers
            - Implant
            - Impounded
            - InfrastructureHangar
            - JunkyardReprocessed
            - JunkyardTrashed
            - LoSlot0
            - LoSlot1
            - LoSlot2
            - LoSlot3
            - LoSlot4
            - LoSlot5
            - LoSlot6
            - LoSlot7
            - Locked
            - MedSlot0
            - MedSlot1
            - MedSlot2
            - MedSlot3
            - MedSlot4
            - MedSlot5
            - MedSlot6
            - MedSlot7
            - MobileDepotHold
            - MoonMaterialBay
            - OfficeFolder
            - Pilot
            - PlanetSurface
            - QuafeBay
            - QuantumCoreRoom
            - Reward
            - RigSlot0
            - RigSlot1
            - RigSlot2
            - RigSlot3
            - RigSlot4
            - RigSlot5
            - RigSlot6
            - RigSlot7
            - SecondaryStorage
            - ServiceSlot0
            - ServiceSlot1
            - ServiceSlot2
            - ServiceSlot3
            - ServiceSlot4
            - ServiceSlot5
            - ServiceSlot6
            - ServiceSlot7
            - ShipHangar
            - ShipOffline
            - Skill
            - SkillInTraining
            - SpecializedAmmoHold
            - SpecializedAsteroidHold
            - SpecializedCommandCenterHold
            - SpecializedFuelBay
            - SpecializedGasHold
            - SpecializedIceHold
            - SpecializedIndustrialShipHold
            - SpecializedLargeShipHold
            - SpecializedMaterialBay
            - SpecializedMediumShipHold
            - SpecializedMineralHold
            - SpecializedOreHold
            - SpecializedPlanetaryCommoditiesHold
            - SpecializedSalvageHold
            - SpecializedShipHold
            - SpecializedSmallShipHold
            - StructureActive
            - StructureFuel
            - StructureInactive
            - StructureOffline
            - SubSystemBay
            - SubSystemSlot0
            - SubSystemSlot1
            - SubSystemSlot2
            - SubSystemSlot3
            - SubSystemSlot4
            - SubSystemSlot5
            - SubSystemSlot6
            - SubSystemSlot7
            - Unlocked
            - Wallet
            - Wardrobe
            type: string
          location_id:
            description: References a station, a ship or an item_id if this blueprint is located within a container.
            format: int64
            type: integer
          material_efficiency:
            description: Material Efficiency Level of the blueprint.
            format: int64
            type: integer
          quantity:
            description: A range of numbers with a minimum of -2 and no maximum value where -1 is an original and -2 is a copy. It can be a positive integer if it is a stack of blueprint originals fresh from the market (e.g. no activities performed on them yet).
            format: int64
            type: integer
          runs:
            description: Number of runs remaining if the blueprint is a copy, -1 if it is an original.
            format: int64
            type: integer
          time_efficiency:
            description: Time Efficiency Level of the blueprint.
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
        required:
        - item_id
        - type_id
        - location_id
        - location_flag
        - quantity
        - time_efficiency
        - material_efficiency
        - runs
        type: object
      type: array
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    AllianceID:
      examples:
      - 99000001
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdMembersTitlesGet:
      items:
        properties:
          character_id:
            format: int64
            type: integer
          titles:
            description: A list of title_id
            items:
              description: title integer
              format: int64
              type: integer
            type: array
        required:
        - character_id
        - titles
        type: object
      type: array
    CorporationsCorporationIdMembersGet:
      description: A list of character IDs
      items:
        format: int64
        type: integer
      type: array
    CorporationsCorporationIdMembersLimitGet:
      format: int64
      type: integer
    FactionID:
      examples:
      - 500002
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdMembertrackingGet:
      items:
        properties:
          base_id:
            format: int64
            type: integer
          character_id:
            format: int64
            type: integer
          location_id:
            format: int64
            type: integer
          logoff_date:
            format: date-time
            type: string
          logon_date:
            format: date-time
            type: string
          ship_type_id:
            format: int64
            type: integer
          start_date:
            format: date-time
            type: string
        required:
        - character_id
        type: object
      type: array
    CorporationsCorporationIdStandingsGet:
      items:
        properties:
          from_id:
            format: int64
            type: integer
          from_type:
            enum:
            - agent
            - npc_corp
            - faction
            type: string
          standing:
            format: double
            type: number
        required:
        - from_id
        - from_type
        - standing
        type: object
      type: array
    CorporationsCorporationIdStarbasesGet:
      items:
        properties:
          moon_id:
            description: The moon this starbase (POS) is anchored on, unanchored POSes do not have this information
            format: int64
            type: integer
          onlined_since:
            description: When the POS onlined, for starbases (POSes) in online state
            format: date-time
            type: string
          reinforced_until:
            description: When the POS will be out of reinforcement, for starbases (POSes) in reinforced state
            format: date-time
            type: string
          starbase_id:
            description: Unique ID for this starbase (POS)
            format: int64
            type: integer
          state:
            enum:
            - offline
            - online
            - onlining
            - reinforced
            - unanchoring
            type: string
          system_id:
            description: The solar system this starbase (POS) is in, unanchored POSes have this information
            format: int64
            type: integer
          type_id:
            description: Starbase (POS) type
            format: int64
            type: integer
          unanchor_at:
            description: When the POS started unanchoring, for starbases (POSes) in unanchoring state
            format: date-time
            type: string
        required:
        - starbase_id
        - type_id
        - system_id
        type: object
      type: array
    CorporationsCorporationIdIconsGet:
      properties:
        px128x128:
          type: string
        px256x256:
          type: string
        px64x64:
          type: string
      type: object
    CorporationsCorporationIdRolesHistoryGet:
      items:
        properties:
          changed_at:
            format: date-time
            type: string
          character_id:
            description: The character whose roles are changed
            format: int64
            type: integer
          issuer_id:
            description: ID of the character who issued this change
            format: int64
            type: integer
          new_roles:
            items:
              description: new_role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          old_roles:
            items:
              description: old_role string
              enum:
              - Account_Take_1
              - Account_Take_2
              - Account_Take_3
              - Account_Take_4
              - Account_Take_5
              - Account_Take_6
              - Account_Take_7
              - Accountant
              - Auditor
              - Brand_Manager
              - Communications_Officer
              - Config_Equipment
              - Config_Starbase_Equipment
              - Container_Take_1
              - Container_Take_2
              - Container_Take_3
              - Container_Take_4
              - Container_Take_5
              - Container_Take_6
              - Container_Take_7
              - Contract_Manager
              - Deliveries_Container_Take
              - Deliveries_Query
              - Deliveries_Take
              - Diplomat
              - Director
              - Factory_Manager
              - Fitting_Manager
              - Hangar_Query_1
              - Hangar_Query_2
              - Hangar_Query_3
              - Hangar_Query_4
              - Hangar_Query_5
              - Hangar_Query_6
              - Hangar_Query_7
              - Hangar_Take_1
              - Hangar_Take_2
              - Hangar_Take_3
              - Hangar_Take_4
              - Hangar_Take_5
              - Hangar_Take_6
              - Hangar_Take_7
              - Junior_Accountant
              - Personnel_Manager
              - Project_Manager
              - Rent_Factory_Facility
              - Rent_Office
              - Rent_Research_Facility
              - Security_Officer
              - Skill_Plan_Manager
              - Starbase_Defense_Operator
              - Starbase_Fuel_Technician
              - Station_Manager
              - Trader
              type: string
            type: array
            uniqueItems: true
          role_type:
            enum:
            - grantable_roles
            - grantable_roles_at_base
            - grantable_roles_at_hq
            - grantable_roles_at_other
            - roles
            - roles_at_base
            - roles_at_hq
            - roles_at_other
            type: string
        required:
        - character_id
        - changed_at
        - issuer_id
        - role_type
        - old_roles
        - new_roles
        type: object
      type: array
    CorporationsNpccorpsGet:
      items:
        format: int64
        type: integer
      type: array
    CorporationsCorporationIdFacilitiesGet:
      items:
        properties:
          facility_id:
            format: int64
            type: integer
          system_id:
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
        required:
        - facility_id
        - type_id
        - system_id
        type: object
      type: array
    CorporationsCorporationIdContainersLogsGet:
      items:
        properties:
          action:
            enum:
            - add
            - assemble
            - configure
            - enter_password
            - lock
            - move
            - repackage
            - set_name
            - set_password
            - unlock
            type: string
          character_id:
            description: ID of the character who performed the action.
            format: int64
            type: integer
          container_id:
            description: ID of the container
            format: int64
            type: integer
          container_type_id:
            description: Type ID of the container
            format: int64
            type: integer
          location_flag:
            enum:
            - AssetSafety
            - AutoFit
            - Bonus
            - Booster
            - BoosterBay
            - Capsule
            - CapsuleerDeliveries
            - Cargo
            - CorpDeliveries
            - CorpSAG1
            - CorpSAG2
            - CorpSAG3
            - CorpSAG4
            - CorpSAG5
            - CorpSAG6
            - CorpSAG7
            - CorporationGoalDeliveries
            - CrateLoot
            - Deliveries
            - DroneBay
            - DustBattle
            - DustDatabank
            - ExpeditionHold
            - FighterBay
            - FighterTube0
            - FighterTube1
            - FighterTube2
            - FighterTube3
            - FighterTube4
            - FleetHangar
            - FrigateEscapeBay
            - Hangar
            - HangarAll
            - HiSlot0
            - HiSlot1
            - HiSlot2
            - HiSlot3
            - HiSlot4
            - HiSlot5
            - HiSlot6
            - HiSlot7
            - HiddenModifiers
            - Implant
            - Impounded
            - InfrastructureHangar
            - JunkyardReprocessed
            - JunkyardTrashed
            - LoSlot0
            - LoSlot1
            - LoSlot2
            - LoSlot3
            - LoSlot4
            - LoSlot5
[...]
