openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Search API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Search
paths:
  /characters/{character_id}/search:
    get:
      description: Search for entities that match a given sub-string.
      operationId: GetCharactersCharacterIdSearch
      parameters:
      - in: query
        name: categories
        required: true
        schema:
          description: Type of entities to search for
          items:
            enum:
            - agent
            - alliance
            - character
            - constellation
            - corporation
            - faction
            - inventory_type
            - region
            - solar_system
            - station
            - structure
            type: string
          maxItems: 11
          minItems: 1
          type: array
          uniqueItems: true
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: search
        required: true
        schema:
          description: The string to search on
          minLength: 3
          type: string
      - in: query
        name: strict
        schema:
          default: false
          description: Whether the search should be a strict match
          type: boolean
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdSearchGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-search.search_structures.v1
      summary: Search on a string
      tags:
      - Search
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
components:
  parameters:
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
    ContentLanguage:
      description: The language used in the response.
      schema:
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
  schemas:
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    CharactersCharacterIdSearchGet:
      properties:
        agent:
          items:
            description: agent integer
            format: int64
            type: integer
          type: array
        alliance:
          items:
            description: alliance integer
            format: int64
            type: integer
          type: array
        character:
          items:
            description: character integer
            format: int64
            type: integer
          type: array
        constellation:
          items:
            description: constellation integer
            format: int64
            type: integer
          type: array
        corporation:
          items:
            description: corporation integer
            format: int64
            type: integer
          type: array
        faction:
          items:
            description: faction integer
            format: int64
            type: integer
          type: array
        inventory_type:
          items:
            description: inventory_type integer
            format: int64
            type: integer
          type: array
        region:
          items:
            description: region integer
            format: int64
            type: integer
          type: array
        solar_system:
          items:
            description: solar_system integer
            format: int64
            type: integer
          type: array
        station:
          items:
            description: station integer
            format: int64
            type: integer
          type: array
        structure:
          items:
            description: structure integer
            format: int64
            type: integer
          type: array
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
