openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Killmails API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Killmails
paths:
  /characters/{character_id}/killmails/recent:
    get:
      description: Return a list of a character's kills and losses going back 90 days
      operationId: GetCharactersCharacterIdKillmailsRecent
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdKillmailsRecentGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-killmails.read_killmails.v1
      summary: Get a character's recent kills and losses
      tags:
      - Killmails
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-killmail
        max-tokens: 30
        window-size: 15m
  /corporations/{corporation_id}/killmails/recent:
    get:
      description: Get a list of a corporation's kills and losses going back 90 days
      operationId: GetCorporationsCorporationIdKillmailsRecent
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdKillmailsRecentGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-killmails.read_corporation_killmails.v1
      summary: Get a corporation's recent kills and losses
      tags:
      - Killmails
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-killmail
        max-tokens: 30
        window-size: 15m
      x-required-roles:
      - Director
  /killmails/{killmail_id}/{killmail_hash}:
    get:
      description: Return a single killmail from its ID and hash
      operationId: GetKillmailsKillmailIdKillmailHash
      parameters:
      - in: path
        name: killmail_hash
        required: true
        schema:
          description: The killmail hash for verification
          type: string
      - in: path
        name: killmail_id
        required: true
        schema:
          description: The killmail ID to be queried
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KillmailsKillmailIdKillmailHashGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get a single killmail
      tags:
      - Killmails
      x-cache-age: 2592000
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: killmail
        max-tokens: 3600
        window-size: 15m
components:
  parameters:
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  schemas:
    CharactersCharacterIdKillmailsRecentGet:
      items:
        properties:
          killmail_hash:
            description: A hash of this killmail
            type: string
          killmail_id:
            description: ID of this killmail
            format: int64
            type: integer
        required:
        - killmail_id
        - killmail_hash
        type: object
      type: array
    KillmailsKillmailIdKillmailHashGet:
      properties:
        attackers:
          items:
            description: attacker object
            properties:
              alliance_id:
                format: int64
                type: integer
              character_id:
                format: int64
                type: integer
              corporation_id:
                format: int64
                type: integer
              damage_done:
                format: int64
                type: integer
              faction_id:
                format: int64
                type: integer
              final_blow:
                description: 'Was the attacker the one to achieve the final blow

                  '
                type: boolean
              security_status:
                description: 'Security status for the attacker

                  '
                format: double
                type: number
              ship_type_id:
                description: 'What ship was the attacker flying

                  '
                format: int64
                type: integer
              weapon_type_id:
                description: 'What weapon was used by the attacker for the kill

                  '
                format: int64
                type: integer
            required:
            - security_status
            - final_blow
            - damage_done
            type: object
          type: array
        killmail_id:
          description: ID of the killmail
          format: int64
          type: integer
        killmail_time:
          description: 'Time that the victim was killed and the killmail generated

            '
          format: date-time
          type: string
        moon_id:
          description: Moon if the kill took place at one
          format: int64
          type: integer
        solar_system_id:
          description: 'Solar system that the kill took place in

            '
          format: int64
          type: integer
        victim:
          properties:
            alliance_id:
              format: int64
              type: integer
            character_id:
              format: int64
              type: integer
            corporation_id:
              format: int64
              type: integer
            damage_taken:
              description: 'How much total damage was taken by the victim

                '
              format: int64
              type: integer
            faction_id:
              format: int64
              type: integer
            items:
              items:
                description: item object
                properties:
                  flag:
                    description: 'Flag for the location of the item

                      '
                    format: int64
                    type: integer
                  item_type_id:
                    format: int64
                    type: integer
                  items:
                    items:
                      description: item object
                      properties:
                        flag:
                          format: int64
                          type: integer
                        item_type_id:
                          format: int64
                          type: integer
                        quantity_destroyed:
                          format: int64
                          type: integer
                        quantity_dropped:
                          format: int64
                          type: integer
                        singleton:
                          format: int64
                          type: integer
                      required:
                      - item_type_id
                      - singleton
                      - flag
                      type: object
                    type: array
                  quantity_destroyed:
                    description: 'How many of the item were destroyed if any

                      '
                    format: int64
                    type: integer
                  quantity_dropped:
                    description: 'How many of the item were dropped if any

                      '
                    format: int64
                    type: integer
                  singleton:
                    format: int64
                    type: integer
                required:
                - item_type_id
                - singleton
                - flag
                type: object
              type: array
            position:
              description: 'Coordinates of the victim in Cartesian space relative to the Sun

                '
              properties:
                x:
                  format: double
                  type: number
                y:
                  format: double
                  type: number
                z:
                  format: double
                  type: number
              required:
              - x
              - y
              - z
              type: object
            ship_type_id:
              description: 'The ship that the victim was piloting and was destroyed

                '
              format: int64
              type: integer
          required:
          - damage_taken
          - ship_type_id
          type: object
        war_id:
          description: 'War if the killmail is generated in relation to an official war

            '
          format: int64
          type: integer
      required:
      - killmail_id
      - killmail_time
      - victim
      - attackers
      - solar_system_id
      type: object
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    CorporationsCorporationIdKillmailsRecentGet:
      items:
        properties:
          killmail_hash:
            description: A hash of this killmail
            type: string
          killmail_id:
            description: ID of this killmail
            format: int64
            type: integer
        required:
        - killmail_id
        - killmail_hash
        type: object
      type: array
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
