openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Contracts API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Contracts
paths:
  /characters/{character_id}/contracts:
    get:
      description: Returns contracts available to a character, only if the character is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".
      operationId: GetCharactersCharacterIdContracts
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdContractsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contracts
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contracts/{contract_id}/bids:
    get:
      description: Lists bids on a particular auction contract
      operationId: GetCharactersCharacterIdContractsContractIdBids
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdContractsContractIdBidsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract bids
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contracts/{contract_id}/items:
    get:
      description: Lists items of a particular contract
      operationId: GetCharactersCharacterIdContractsContractIdItems
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdContractsContractIdItemsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract items
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /contracts/public/bids/{contract_id}:
    get:
      description: Lists bids on a public auction contract
      operationId: GetContractsPublicBidsContractId
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsPublicBidsContractIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        '204':
          content:
            application/json:
              schema: {}
          description: Contract expired or recently accepted by player
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
      summary: Get public contract bids
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
  /contracts/public/items/{contract_id}:
    get:
      description: Lists items of a public contract
      operationId: GetContractsPublicItemsContractId
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsPublicItemsContractIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        '204':
          content:
            application/json:
              schema: {}
          description: Contract expired or recently accepted by player
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
      summary: Get public contract items
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /contracts/public/{region_id}:
    get:
      description: Returns a paginated list of all public contracts in the given region
      operationId: GetContractsPublicRegionId
      parameters:
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - in: path
        name: region_id
        required: true
        schema:
          description: An EVE region id
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsPublicRegionIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get public contracts
      tags:
      - Contracts
      x-cache-age: 1800
      x-compatibility-date: '2020-01-01'
  /corporations/{corporation_id}/contracts:
    get:
      description: Returns contracts available to a corporation, only if the corporation is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".
      operationId: GetCorporationsCorporationIdContracts
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdContractsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_corporation_contracts.v1
      summary: Get corporation contracts
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-contract
        max-tokens: 600
        window-size: 15m
  /corporations/{corporation_id}/contracts/{contract_id}/bids:
    get:
      description: Lists bids on a particular auction contract
      operationId: GetCorporationsCorporationIdContractsContractIdBids
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdContractsContractIdBidsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_corporation_contracts.v1
      summary: Get corporation contract bids
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-contract
        max-tokens: 600
        window-size: 15m
  /corporations/{corporation_id}/contracts/{contract_id}/items:
    get:
      description: Lists items of a particular contract
      operationId: GetCorporationsCorporationIdContractsContractIdItems
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdContractsContractIdItemsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_corporation_contracts.v1
      summary: Get corporation contract items
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-contract
        max-tokens: 600
        window-size: 15m
components:
  parameters:
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  schemas:
    ContractsPublicRegionIdGet:
      items:
        properties:
          buyout:
            description: Buyout price (for Auctions only)
            format: double
            type: number
          collateral:
            description: Collateral price (for Couriers only)
            format: double
            type: number
          contract_id:
            format: int64
            type: integer
          date_expired:
            description: Expiration date of the contract
            format: date-time
            type: string
          date_issued:
            description: Сreation date of the contract
            format: date-time
            type: string
          days_to_complete:
            description: Number of days to perform the contract
            format: int64
            type: integer
          end_location_id:
            description: End location ID (for Couriers contract)
            format: int64
            type: integer
          for_corporation:
            description: true if the contract was issued on behalf of the issuer's corporation
            type: boolean
          issuer_corporation_id:
            description: Character's corporation ID for the issuer
            format: int64
            type: integer
          issuer_id:
            description: Character ID for the issuer
            format: int64
            type: integer
          price:
            description: Price of contract (for ItemsExchange and Auctions)
            format: double
            type: number
          reward:
            description: Remuneration for contract (for Couriers only)
            format: double
            type: number
          start_location_id:
            description: Start location ID (for Couriers contract)
            format: int64
            type: integer
          title:
            description: Title of the contract
            type: string
          type:
            description: Type of the contract
            enum:
            - unknown
            - item_exchange
            - auction
            - courier
            - loan
            type: string
          volume:
            description: Volume of items in the contract
            format: double
            type: number
        required:
        - contract_id
        - issuer_id
        - issuer_corporation_id
        - type
        - date_issued
        - date_expired
        type: object
      type: array
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdContractsGet:
      items:
        properties:
          acceptor_id:
            description: Who will accept the contract
            format: int64
            type: integer
          assignee_id:
            description: ID to whom the contract is assigned, can be alliance, corporation or character ID
            format: int64
            type: integer
          availability:
            description: To whom the contract is available
            enum:
            - public
            - personal
            - corporation
            - alliance
            type: string
          buyout:
            description: Buyout price (for Auctions only)
            format: double
            type: number
          collateral:
            description: Collateral price (for Couriers only)
            format: double
            type: number
          contract_id:
            format: int64
            type: integer
          date_accepted:
            description: Date of confirmation of contract
            format: date-time
            type: string
          date_completed:
            description: Date of completed of contract
            format: date-time
            type: string
          date_expired:
            description: Expiration date of the contract
            format: date-time
            type: string
          date_issued:
            description: Сreation date of the contract
            format: date-time
            type: string
          days_to_complete:
            description: Number of days to perform the contract
            format: int64
            type: integer
          end_location_id:
            description: End location ID (for Couriers contract)
            format: int64
            type: integer
          for_corporation:
            description: true if the contract was issued on behalf of the issuer's corporation
            type: boolean
          issuer_corporation_id:
            description: Character's corporation ID for the issuer
            format: int64
            type: integer
          issuer_id:
            description: Character ID for the issuer
            format: int64
            type: integer
          price:
            description: Price of contract (for ItemsExchange and Auctions)
            format: double
            type: number
          reward:
            description: Remuneration for contract (for Couriers only)
            format: double
            type: number
          start_location_id:
            description: Start location ID (for Couriers contract)
            format: int64
            type: integer
          status:
            description: Status of the the contract
            enum:
            - outstanding
            - in_progress
            - finished_issuer
            - finished_contractor
            - finished
            - cancelled
            - rejected
            - failed
            - deleted
            - reversed
            type: string
          title:
            description: Title of the contract
            type: string
          type:
            description: Type of the contract
            enum:
            - unknown
            - item_exchange
            - auction
            - courier
            - loan
            type: string
          volume:
            description: Volume of items in the contract
            format: double
            type: number
        required:
        - contract_id
        - issuer_id
        - issuer_corporation_id
        - assignee_id
        - acceptor_id
        - type
        - status
        - for_corporation
        - availability
        - date_issued
        - date_expired
        type: object
      type: array
    CorporationsCorporationIdContractsContractIdItemsGet:
      items:
        properties:
          is_included:
            description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
            type: boolean
          is_singleton:
            type: boolean
          quantity:
            description: Number of items in the stack
            format: int64
            type: integer
          raw_quantity:
            description: -1 indicates that the item is a singleton (non-stackable). If the item happens to be a Blueprint, -1 is an Original and -2 is a Blueprint Copy
            format: int64
            type: integer
          record_id:
            description: Unique ID for the item
            format: int64
            type: integer
          type_id:
            description: Type ID for item
            format: int64
            type: integer
        required:
        - record_id
        - type_id
        - quantity
        - is_singleton
        - is_included
        type: object
      type: array
    CharactersCharacterIdContractsContractIdItemsGet:
      items:
        properties:
          is_included:
            description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
            type: boolean
          is_singleton:
            type: boolean
          quantity:
            description: Number of items in the stack
            format: int64
            type: integer
          raw_quantity:
            description: -1 indicates that the item is a singleton (non-stackable). If the item happens to be a Blueprint, -1 is an Original and -2 is a Blueprint Copy
            format: int64
            type: integer
          record_id:
            description: Unique ID for the item
            format: int64
            type: integer
          type_id:
            description: Type ID for item
            format: int64
            type: integer
        required:
        - record_id
        - type_id
        - quantity
        - is_singleton
        - is_included
        type: object
      type: array
    CharactersCharacterIdContractsContractIdBidsGet:
      items:
        properties:
          amount:
            description: The amount bid, in ISK
            format: double
            type: number
          bid_id:
            description: Unique ID for the bid
            format: int64
            type: integer
          bidder_id:
            description: Character ID of the bidder
            format: int64
            type: integer
          date_bid:
            description: Datetime when the bid was placed
            format: date-time
            type: string
        required:
        - bid_id
        - bidder_id
        - date_bid
        - amount
        type: object
      type: array
    ContractsPublicItemsContractIdGet:
      items:
        properties:
          is_blueprint_copy:
            type: boolean
          is_included:
            description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
            type: boolean
          item_id:
            description: Unique ID for the item being sold. Not present if item is being requested by contract rather than sold with contract
            format: int64
            type: integer
          material_efficiency:
            description: Material Efficiency Level of the blueprint
            format: int64
            type: integer
          quantity:
            description: Number of items in the stack
            format: int64
            type: integer
          record_id:
            description: Unique ID for the item, used by the contract system
            format: int64
            type: integer
          runs:
            description: Number of runs remaining if the blueprint is a copy, -1 if it is an original
            format: int64
            type: integer
          time_efficiency:
            description: Time Efficiency Level of the blueprint
            format: int64
            type: integer
          type_id:
            description: Type ID for item
            format: int64
            type: integer
        required:
        - record_id
        - type_id
        - quantity
        - is_included
        type: object
      type: array
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdContractsContractIdBidsGet:
      items:
        properties:
          amount:
            description: The amount bid, in ISK
            format: double
            type: number
          bid_id:
            description: Unique ID for the bid
            format: int64
            type: integer
          bidder_id:
            description: Character ID of the bidder
            format: int64
            type: integer
          date_bid:
            description: Datetime when the bid was placed
            format: date-time
            type: string
        required:
        - bid_id
        - bidder_id
        - date_bid
        - amount
        type: object
      type: array
    CorporationsCorporationIdContractsGet:
      items:
        properties:
          acceptor_id:
            description: Who will accept the contract
            format: int64
            type: integer
          assignee_id:
            description: ID to whom the contract is assigned, can be corporation or character ID
            format: int64
            type: integer
          availability:
            description: To whom the contract is available
            enum:
            - public
            - personal
            - corporation
            - alliance
            type: string
          buyout:
            description: Buyout price (for Auctions only)
            format: double
            type: number
          collateral:
            description: Collateral price (for Couriers only)
            format: double
            type: number
          contract_id:
            format: int64
            type: integer
          date_accepted:
            description: Date of confirmation of contract
            format: date-time
            type: string
          date_completed:
            description: Date of completed of contract
            format: date-time
            type: string
          date_expired:
            description: Expiration date of the contract
            format: date-time
            type: string
          date_issued:
            description: Сreation date of the contract
            format: date-time
            type: string
          days_to_complete:
            description: Number of days to perform the contract
            format: int64
            type: integer
          end_location_id:
            description: End location ID (for Couriers contract)
            format: int64
            type: integer
          for_corporation:
            description: true if the contract was issued on behalf of the issuer's corporation
            type: boolean
          issuer_corporation_id:
            description: Character's corporation ID for the issuer
            format: int64
            type: integer
          issuer_id:
            description: Character ID for the issuer
            format: int64
            type: integer
          price:
            description: Price of contract (for ItemsExchange and Auctions)
            format: double
            type: number
          reward:
            description: Remuneration for contract (for Couriers only)
            format: double
            type: number
          start_location_id:
            description: Start location ID (for Couriers contract)
            format: int64
            type: integer
          status:
            description: Status of the the contract
            enum:
            - outstanding
            - in_progress
            - finished_issuer
            - finished_contractor
            - finished
            - cancelled
            - rejected
            - failed
            - deleted
            - reversed
            type: string
          title:
            description: Title of the contract
            type: string
          type:
            description: Type of the contract
            enum:
            - unknown
            - item_exchange
            - auction
            - courier
            - loan
            type: string
          volume:
            description: Volume of items in the contract
            format: double
            type: number
        required:
        - contract_id
        - issuer_id
        - issuer_corporation_id
        - assignee_id
        - acceptor_id
        - type
        - status
        - for_corporation
        - availability
        - date_issued
        - date_expired
        type: object
      type: array
    ContractsPublicBidsContractIdGet:
      items:
        properties:
          amount:
            description: The amount bid, in ISK
            format: double
            type: number
          bid_id:
            description: Unique ID for the bid
            format: int64
            type: integer
          date_bid:
            description: Datetime when the bid was placed
            format: date-time
            type: string
        required:
        - bid_id
        - date_bid
        - amount
        type: object
      type: array
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
