openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Character API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Character
paths:
  /characters/affiliation:
    post:
      description: Bulk lookup of character IDs to corporation, alliance and faction
      operationId: PostCharactersAffiliation
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersAffiliationPost'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Character affiliation
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /characters/{character_id}:
    get:
      description: Public information about a character
      operationId: GetCharactersCharacterId
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
          description: The ID of the character
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersDetail'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get character's public information
      tags:
      - Character
      x-cache-age: 86400
      x-cache-mode: event-based
      x-compatibility-date: '2020-01-01'
  /characters/{character_id}/agents_research:
    get:
      description: 'Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)'
      operationId: GetCharactersCharacterIdAgentsResearch
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdAgentsResearchGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_agents_research.v1
      summary: Get agents research
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/blueprints:
    get:
      description: Return a list of blueprints the character owns
      operationId: GetCharactersCharacterIdBlueprints
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdBlueprintsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_blueprints.v1
      summary: Get blueprints
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/corporationhistory:
    get:
      description: Get a list of all the corporations a character has been a member of
      operationId: GetCharactersCharacterIdCorporationhistory
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdCorporationhistoryGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get corporation history
      tags:
      - Character
      x-cache-age: 86400
      x-compatibility-date: '2020-01-01'
  /characters/{character_id}/cspa:
    post:
      description: Takes a source character ID in the url and a set of target character ID's in the body, returns a CSPA charge cost
      operationId: PostCharactersCharacterIdCspa
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdCspaPost'
          description: Created
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Calculate a CSPA charge cost
      tags:
      - Character
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/fatigue:
    get:
      description: Return a character's jump activation and fatigue information
      operationId: GetCharactersCharacterIdFatigue
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdFatigueGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fatigue.v1
      summary: Get jump fatigue
      tags:
      - Character
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-location
        max-tokens: 1200
        window-size: 15m
  /characters/{character_id}/medals:
    get:
      description: Return a list of medals the character has
      operationId: GetCharactersCharacterIdMedals
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdMedalsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_medals.v1
      summary: Get medals
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/notifications:
    get:
      description: Return character notifications
      operationId: GetCharactersCharacterIdNotifications
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdNotificationsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_notifications.v1
      summary: Get character notifications
      tags:
      - Character
      x-cache-age: 600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-notification
        max-tokens: 15
        window-size: 15m
  /characters/{character_id}/notifications/contacts:
    get:
      description: Return notifications about having been added to someone's contact list
      operationId: GetCharactersCharacterIdNotificationsContacts
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdNotificationsContactsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_notifications.v1
      summary: Get new contact notifications
      tags:
      - Character
      x-cache-age: 600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/portrait:
    get:
      description: 'Get portrait urls for a character


        This route expires daily at 11:05'
      operationId: GetCharactersCharacterIdPortrait
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdPortraitGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get character portraits
      tags:
      - Character
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/roles:
    get:
      description: Returns a character's corporation roles
      operationId: GetCharactersCharacterIdRoles
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdRolesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_corporation_roles.v1
      summary: Get character corporation roles
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/standings:
    get:
      description: Return character standings from agents, NPC corporations, and factions
      operationId: GetCharactersCharacterIdStandings
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdStandingsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_standings.v1
      summary: Get standings
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/titles:
    get:
      description: Returns a character's titles
      operationId: GetCharactersCharacterIdTitles
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdTitlesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_titles.v1
      summary: Get character corporation titles
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
components:
  schemas:
    CharactersCharacterIdCspaPost:
      description: 201 created number
      format: double
      type: number
    CharactersCharacterIdPortraitGet:
      properties:
        px128x128:
          type: string
        px256x256:
          type: string
        px512x512:
          type: string
        px64x64:
          type: string
      type: object
    CharactersCharacterIdBlueprintsGet:
      items:
        properties:
          item_id:
            description: Unique ID for this item.
            format: int64
            type: integer
          location_flag:
            description: Type of the location_id
            enum:
            - AutoFit
            - Cargo
            - CorpseBay
            - DroneBay
            - FleetHangar
            - Deliveries
            - HiddenModifiers
            - Hangar
            - HangarAll
            - LoSlot0
            - LoSlot1
            - LoSlot2
            - LoSlot3
            - LoSlot4
            - LoSlot5
            - LoSlot6
            - LoSlot7
            - MedSlot0
            - MedSlot1
            - MedSlot2
            - MedSlot3
            - MedSlot4
            - MedSlot5
            - MedSlot6
            - MedSlot7
            - HiSlot0
            - HiSlot1
            - HiSlot2
            - HiSlot3
            - HiSlot4
            - HiSlot5
            - HiSlot6
            - HiSlot7
            - AssetSafety
            - Locked
            - Unlocked
            - Implant
            - QuafeBay
            - RigSlot0
            - RigSlot1
            - RigSlot2
            - RigSlot3
            - RigSlot4
            - RigSlot5
            - RigSlot6
            - RigSlot7
            - ShipHangar
            - SpecializedFuelBay
            - SpecializedOreHold
            - SpecializedGasHold
            - SpecializedMineralHold
            - SpecializedSalvageHold
            - SpecializedShipHold
            - SpecializedSmallShipHold
            - SpecializedMediumShipHold
            - SpecializedLargeShipHold
            - SpecializedIndustrialShipHold
            - SpecializedAmmoHold
            - SpecializedCommandCenterHold
            - SpecializedPlanetaryCommoditiesHold
            - SpecializedMaterialBay
            - SubSystemSlot0
            - SubSystemSlot1
            - SubSystemSlot2
            - SubSystemSlot3
            - SubSystemSlot4
            - SubSystemSlot5
            - SubSystemSlot6
            - SubSystemSlot7
            - FighterBay
            - FighterTube0
            - FighterTube1
            - FighterTube2
            - FighterTube3
            - FighterTube4
            - Module
            type: string
          location_id:
            description: References a station, a ship or an item_id if this blueprint is located within a container. If the return value is an item_id, then the Character AssetList API must be queried to find the container using the given item_id to determine the correct location of the Blueprint.
            format: int64
            type: integer
          material_efficiency:
            description: Material Efficiency Level of the blueprint.
            format: int64
            type: integer
          quantity:
            description: A range of numbers with a minimum of -2 and no maximum value where -1 is an original and -2 is a copy. It can be a positive integer if it is a stack of blueprint originals fresh from the market (e.g. no activities performed on them yet).
            format: int64
            type: integer
          runs:
            description: Number of runs remaining if the blueprint is a copy, -1 if it is an original.
            format: int64
            type: integer
          time_efficiency:
            description: Time Efficiency Level of the blueprint.
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
        required:
        - item_id
        - type_id
        - location_id
        - location_flag
        - quantity
        - time_efficiency
        - material_efficiency
        - runs
        type: object
      type: array
    CharactersCharacterIdAgentsResearchGet:
      items:
        properties:
          agent_id:
            format: int64
            type: integer
          points_per_day:
            format: double
            type: number
          remainder_points:
            format: double
            type: number
          skill_type_id:
            format: int64
            type: integer
          started_at:
            format: date-time
            type: string
        required:
        - agent_id
        - skill_type_id
        - started_at
        - points_per_day
        - remainder_points
        type: object
      type: array
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    BloodlineID:
      examples:
      - 1
      format: int64
      type: integer
      x-common-model: 'true'
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdStandingsGet:
      items:
        properties:
          from_id:
            format: int64
            type: integer
          from_type:
            enum:
            - agent
            - npc_corp
            - faction
            type: string
          standing:
            format: double
            type: number
        required:
        - from_id
        - from_type
        - standing
        type: object
      type: array
    CharactersCharacterIdNotificationsContactsGet:
      items:
        properties:
          message:
            type: string
          notification_id:
            format: int64
            type: integer
          send_date:
            format: date-time
            type: string
          sender_character_id:
            format: int64
            type: integer
          standing_level:
            description: 'A number representing the standing level the receiver has been added at by the sender. The standing levels are as follows: -10 -> Terrible | -5 -> Bad |  0 -> Neutral |  5 -> Good |  10 -> Excellent'
            format: double
            type: number
        required:
        - notification_id
        - send_date
        - standing_level
        - message
        - sender_character_id
        type: object
      type: array
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    CharactersCharacterIdCorporationhistoryGet:
      items:
        properties:
          corporation_id:
            format: int64
            type: integer
          is_deleted:
            description: True if the corporation has been deleted
            type: boolean
          record_id:
            description: An incrementing ID that can be used to canonically establish order of records in cases where dates may be ambiguous
            format: int64
            type: integer
          start_date:
            format: date-time
            type: string
        required:
        - start_date
        - corporation_id
        - record_id
        type: object
      type: array
    CharactersCharacterIdRolesGet:
      properties:
        roles:
          items:
            description: role string
            enum:
            - Account_Take_1
            - Account_Take_2
            - Account_Take_3
            - Account_Take_4
            - Account_Take_5
            - Account_Take_6
            - Account_Take_7
            - Accountant
            - Auditor
            - Brand_Manager
            - Communications_Officer
            - Config_Equipment
            - Config_Starbase_Equipment
            - Container_Take_1
            - Container_Take_2
            - Container_Take_3
            - Container_Take_4
            - Container_Take_5
            - Container_Take_6
            - Container_Take_7
            - Contract_Manager
            - Deliveries_Container_Take
            - Deliveries_Query
            - Deliveries_Take
            - Diplomat
            - Director
            - Factory_Manager
            - Fitting_Manager
            - Hangar_Query_1
            - Hangar_Query_2
            - Hangar_Query_3
            - Hangar_Query_4
            - Hangar_Query_5
            - Hangar_Query_6
            - Hangar_Query_7
            - Hangar_Take_1
            - Hangar_Take_2
            - Hangar_Take_3
            - Hangar_Take_4
            - Hangar_Take_5
            - Hangar_Take_6
            - Hangar_Take_7
            - Junior_Accountant
            - Personnel_Manager
            - Project_Manager
            - Rent_Factory_Facility
            - Rent_Office
            - Rent_Research_Facility
            - Security_Officer
            - Skill_Plan_Manager
            - Starbase_Defense_Operator
            - Starbase_Fuel_Technician
            - Station_Manager
            - Trader
            type: string
          type: array
          uniqueItems: true
        roles_at_base:
          items:
            description: roles_at_base string
            enum:
            - Account_Take_1
            - Account_Take_2
            - Account_Take_3
            - Account_Take_4
            - Account_Take_5
            - Account_Take_6
            - Account_Take_7
            - Accountant
            - Auditor
            - Brand_Manager
            - Communications_Officer
            - Config_Equipment
            - Config_Starbase_Equipment
            - Container_Take_1
            - Container_Take_2
            - Container_Take_3
            - Container_Take_4
            - Container_Take_5
            - Container_Take_6
            - Container_Take_7
            - Contract_Manager
            - Deliveries_Container_Take
            - Deliveries_Query
            - Deliveries_Take
            - Diplomat
            - Director
            - Factory_Manager
            - Fitting_Manager
            - Hangar_Query_1
            - Hangar_Query_2
            - Hangar_Query_3
            - Hangar_Query_4
            - Hangar_Query_5
            - Hangar_Query_6
            - Hangar_Query_7
            - Hangar_Take_1
            - Hangar_Take_2
            - Hangar_Take_3
            - Hangar_Take_4
            - Hangar_Take_5
            - Hangar_Take_6
            - Hangar_Take_7
            - Junior_Accountant
            - Personnel_Manager
            - Project_Manager
            - Rent_Factory_Facility
            - Rent_Office
            - Rent_Research_Facility
            - Security_Officer
            - Skill_Plan_Manager
            - Starbase_Defense_Operator
            - Starbase_Fuel_Technician
            - Station_Manager
            - Trader
            type: string
          type: array
          uniqueItems: true
        roles_at_hq:
          items:
            description: roles_at_hq string
            enum:
            - Account_Take_1
            - Account_Take_2
            - Account_Take_3
            - Account_Take_4
            - Account_Take_5
            - Account_Take_6
            - Account_Take_7
            - Accountant
            - Auditor
            - Brand_Manager
            - Communications_Officer
            - Config_Equipment
            - Config_Starbase_Equipment
            - Container_Take_1
            - Container_Take_2
            - Container_Take_3
            - Container_Take_4
            - Container_Take_5
            - Container_Take_6
            - Container_Take_7
            - Contract_Manager
            - Deliveries_Container_Take
            - Deliveries_Query
            - Deliveries_Take
            - Diplomat
            - Director
            - Factory_Manager
            - Fitting_Manager
            - Hangar_Query_1
            - Hangar_Query_2
            - Hangar_Query_3
            - Hangar_Query_4
            - Hangar_Query_5
            - Hangar_Query_6
            - Hangar_Query_7
            - Hangar_Take_1
            - Hangar_Take_2
            - Hangar_Take_3
            - Hangar_Take_4
            - Hangar_Take_5
            - Hangar_Take_6
            - Hangar_Take_7
            - Junior_Accountant
            - Personnel_Manager
            - Project_Manager
            - Rent_Factory_Facility
            - Rent_Office
            - Rent_Research_Facility
            - Security_Officer
            - Skill_Plan_Manager
            - Starbase_Defense_Operator
            - Starbase_Fuel_Technician
            - Station_Manager
            - Trader
            type: string
          type: array
          uniqueItems: true
        roles_at_other:
          items:
            description: roles_at_other string
            enum:
            - Account_Take_1
            - Account_Take_2
            - Account_Take_3
            - Account_Take_4
            - Account_Take_5
            - Account_Take_6
            - Account_Take_7
            - Accountant
            - Auditor
            - Brand_Manager
            - Communications_Officer
            - Config_Equipment
            - Config_Starbase_Equipment
            - Container_Take_1
            - Container_Take_2
            - Container_Take_3
            - Container_Take_4
            - Container_Take_5
            - Container_Take_6
            - Container_Take_7
            - Contract_Manager
            - Deliveries_Container_Take
            - Deliveries_Query
            - Deliveries_Take
            - Diplomat
            - Director
            - Factory_Manager
            - Fitting_Manager
            - Hangar_Query_1
            - Hangar_Query_2
            - Hangar_Query_3
            - Hangar_Query_4
            - Hangar_Query_5
            - Hangar_Query_6
            - Hangar_Query_7
            - Hangar_Take_1
            - Hangar_Take_2
            - Hangar_Take_3
            - Hangar_Take_4
            - Hangar_Take_5
            - Hangar_Take_6
            - Hangar_Take_7
            - Junior_Accountant
            - Personnel_Manager
            - Project_Manager
            - Rent_Factory_Facility
            - Rent_Office
            - Rent_Research_Facility
            - Security_Officer
            - Skill_Plan_Manager
            - Starbase_Defense_Operator
            - Starbase_Fuel_Technician
            - Station_Manager
            - Trader
            type: string
          type: array
          uniqueItems: true
      type: object
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersAffiliationPost:
      items:
        properties:
          alliance_id:
            description: The character's alliance ID, if their corporation is in an alliance
            format: int64
            type: integer
          character_id:
            description: The character's ID
            format: int64
            type: integer
          corporation_id:
            description: The character's corporation ID
            format: int64
            type: integer
          faction_id:
            description: The character's faction ID, if their corporation is in a faction
            format: int64
            type: integer
        required:
        - character_id
        - corporation_id
        type: object
      type: array
    AllianceID:
      examples:
      - 99000001
      format: int64
      type: integer
      x-common-model: 'true'
    FactionID:
      examples:
      - 500002
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdTitlesGet:
      items:
        properties:
          name:
            type: string
          title_id:
            format: int64
            type: integer
        type: object
      type: array
    CharactersCharacterIdFatigueGet:
      properties:
        jump_fatigue_expire_date:
          description: Character's jump fatigue expiry
          format: date-time
          type: string
        last_jump_date:
          description: Character's last jump activation
          format: date-time
          type: string
        last_update_date:
          description: Character's last jump update
          format: date-time
          type: string
      type: object
    CharactersCharacterIdMedalsGet:
      items:
        properties:
          corporation_id:
            format: int64
            type: integer
          date:
            format: date-time
            type: string
          description:
            type: string
          graphics:
            items:
              description: graphic object
              properties:
                color:
                  format: int64
                  type: integer
                graphic:
                  type: string
                layer:
                  format: int64
                  type: integer
                part:
                  format: int64
                  type: integer
              required:
              - part
              - layer
              - graphic
              type: object
            type: array
          issuer_id:
            format: int64
            type: integer
          medal_id:
            format: int64
            type: integer
          reason:
            type: string
          status:
            enum:
            - public
            - private
            type: string
          title:
            type: string
        required:
        - medal_id
        - title
        - description
        - corporation_id
        - issuer_id
        - date
        - reason
        - status
        - graphics
        type: object
      type: array
    RaceID:
      examples:
      - 1
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersDetail:
      properties:
        alliance_id:
          $ref: '#/components/schemas/AllianceID'
          description: Character's alliance ID
        birthday:
          description: Character's creation date
          format: date-time
          type: string
        bloodline_id:
          $ref: '#/components/schemas/BloodlineID'
          description: Character's bloodline ID
        corporation_id:
          $ref: '#/components/schemas/CorporationID'
          description: Character's corporation ID
        description:
          description: Character's description (biography)
          type: string
        faction_id:
          $ref: '#/components/schemas/FactionID'
          description: Character's faction ID
        gender:
          description: Character's gender
          enum:
          - male
          - female
          type: string
          x-enum-descriptions:
          - Male
          - Female
        name:
          description: Character's name
          type: string
        race_id:
          $ref: '#/components/schemas/RaceID'
          description: Character's race ID
        security_status:
          description: Character's security status
          examples:
          - 5
          format: double
          type: number
        title:
          description: Character's corporation title
          type: string
      required:
      - birthday
      - bloodline_id
      - corporation_id
      - gender
      - name
      - race_id
      type: object
    CharactersCharacterIdNotificationsGet:
      items:
        properties:
          is_read:
            type: boolean
          notification_id:
            format: int64
            type: integer
          sender_id:
            format: int64
            type: integer
          sender_type:
            enum:
            - character
            - corporation
            - alliance
            - faction
            - other
            type: string
          text:
            type: string
          timestamp:
            format: date-time
            type: string
          type:
            enum:
            - AcceptedAlly
            - AcceptedSurrender
            - AgentRetiredTrigravian
            - AllAnchoringMsg
            - AllMaintenanceBillMsg
            - AllStrucInvulnerableMsg
            - AllStructVulnerableMsg
            - AllWarCorpJoinedAllianceMsg
            - AllWarDeclaredMsg
            - AllWarInvalidatedMsg
            - AllWarRetractedMsg
            - AllWarSurrenderMsg
            - AllianceCapitalChanged
            - AllianceWarDeclaredV2
            - AllyContractCancelled
            - AllyJoinedWarAggressorMsg
            - AllyJoinedWarAllyMsg
            - AllyJoinedWarDefenderMsg
            - BattlePunishFriendlyFire
            - BillOutOfMoneyMsg
            - BillPaidCorpAllMsg
            - BountyClaimMsg
            - BountyESSShared
            - BountyESSTaken
            - BountyPlacedAlliance
            - BountyPlacedChar
            - BountyPlacedCorp
            - BountyYourBountyClaimed
            - BuddyConnectContactAdd
            - CharAppAcceptMsg
            - CharAppRejectMsg
            - CharAppWithdrawMsg
            - CharLeftCorpMsg
            - CharMedalMsg
            - CharTerminationMsg
            - CloneActivationMsg
            - CloneActivationMsg2
            - CloneMovedMsg
            - CloneRevokedMsg1
            - CloneRevokedMsg2
            - CombatOperationFinished
            - ContactAdd
            - ContactEdit
            - ContainerPasswordMsg
            - ContractRegionChangedToPochven
            - CorpAllBillMsg
            - CorpAppAcceptMsg
            - CorpAppInvitedMsg
            - CorpAppNewMsg
            - CorpAppRejectCustomMsg
            - CorpAppRejectMsg
            - CorpBecameWarEligible
            - CorpDividendMsg
            - CorpFriendlyFireDisableTimerCompleted
            - CorpFriendlyFireDisableTimerStarted
            - CorpFriendlyFireEnableTimerCompleted
            - CorpFriendlyFireEnableTimerStarted
            - CorpKicked
            - CorpLiquidationMsg
            - CorpNewCEOMsg
            - CorpNewsMsg
            - CorpNoLongerWarEligible
            - CorpOfficeExpirationMsg
            - CorpStructLostMsg
            - CorpTaxChangeMsg
            - CorpVoteCEORevokedMsg
            - CorpVoteMsg
            - CorpWarDeclaredMsg
            - CorpWarDeclaredV2
            - CorpWarFightingLegalMsg
            - CorpWarInvalidatedMsg
            - CorpWarRetractedMsg
            - CorpWarSurrenderMsg
            - CorporationGoalClosed
            - CorporationGoalCompleted
            - CorporationGoalCreated
            - CorporationGoalExpired
            - CorporationGoalLimitReached
            - CorporationGoalNameChange
            - CorporationLeft
            - CustomsMsg
            - DailyItemRewardAutoClaimed
            - DeclareWar
            - DistrictAttacked
            - DustAppAcceptedMsg
            - ESSMainBankLink
            - EntosisCaptureStarted
            - ExpertSystemExpired
            - ExpertSystemExpiryImminent
            - FWAllianceKickCeoIndividualStandingWarning
            - FWAllianceKickMsg
            - FWAllianceKickedCeoIndividualStanding
            - FWAllianceWarningMsg
            - FWCharKickMsg
            - FWCharRankGainMsg
            - FWCharRankLossMsg
            - FWCharWarningMsg
            - FWCharacterKickFromCorpIndividualStandingWarning
            - FWCharacterKickedFromCorpIndividualStanding
            - FWCorpJoinMsg
            - FWCorpKickMsg
            - FWCorpLeaveMsg
            - FWCorpWarningMsg
            - FWCorporationKickCeoIndividualStandingWarning
            - FWCorporationKickedCeoIndividualStanding
            - FacWarCorpJoinRequestMsg
            - FacWarCorpJoinWithdrawMsg
            - FacWarCorpLeaveRequestMsg
            - FacWarCorpLeaveWithdrawMsg
            - FacWarDirectEnlistmentRevoked
            - FacWarLPDisqualifiedEvent
            - FacWarLPDisqualifiedKill
            - FacWarLPPayoutEvent
            - FacWarLPPayoutKill
            - FreelanceProjectACLDeleted
            - FreelanceProjectClosed
            - FreelanceProjectCompleted
            - FreelanceProjectCreated
            - FreelanceProjectExpired
            - FreelanceProjectLimitReached
            - FreelanceProjectParticipantKicked
            - GameTimeAdded
            - GameTimeReceived
            - GameTimeSent
            - GiftReceived
            - IHubDestroyedByBillFailure
            - IncursionCompletedMsg
            - IndustryOperationFinished
            - IndustryTeamAuctionLost
            - IndustryTeamAuctionWon
            - InfrastructureHubBillAboutToExpire
            - InsuranceExpirationMsg
            - InsuranceFirstShipMsg
            - InsuranceInvalidatedMsg
            - InsuranceIssuedMsg
            - InsurancePayoutMsg
            - InvasionCompletedMsg
            - InvasionSystemLogin
            - InvasionSystemStart
            - JumpCloneDeletedMsg1
            - JumpCloneDeletedMsg2
            - KillReportFinalBlow
            - KillReportVictim
            - KillRightAvailable
            - KillRightAvailableOpen
            - KillRightEarned
            - KillRightUnavailable
            - KillRightUnavailableOpen
            - KillRightUsed
            - LPAutoRedeemed
            - LocateCharMsg
            - MadeWarMutual
            - MercOfferRetractedMsg
            - MercOfferedNegotiationMsg
            - MercenaryDenAttacked
            - MercenaryDenNewMTO
            - MercenaryDenReinforced
            - MissionCanceledTriglavian
            - MissionOfferExpirationMsg
            - MissionTimeoutMsg
            - MoonminingAutomaticFracture
            - MoonminingExtractionCancelled
            - MoonminingExtractionFinished
            - MoonminingExtractionStarted
            - MoonminingLaserFired
            - MutualWarExpired
            - MutualWarInviteAccepted
            - MutualWarInviteRejected
            - MutualWarInviteSent
            - NPCStandingsGained
            - NPCStandingsLost
            - OfferToAllyRetracted
            - OfferedSurrender
            - OfferedToAlly
            - OfficeLeaseCanceledInsufficientStandings
            - OldLscMessages
            - OperationFinished
            - OrbitalAttacked
            - OrbitalReinforced
            - OwnershipTransferred
            - RaffleCreated
            - RaffleExpired
            - RaffleFinished
            - ReimbursementMsg
            - ResearchMissionAvailableMsg
            - RetractsWar
            - SPAutoRedeemed
            - SeasonalChallengeCompleted
            - SkinSequencingCompleted
            - SkyhookDeployed
            - SkyhookDestroyed
            - SkyhookLostShields
            - SkyhookOnline
            - SkyhookUnderAttack
            - SovAllClaimAquiredMsg
            - SovAllClaimLostMsg
            - SovCommandNodeEventStarted
            - SovCorpBillLateMsg
            - SovCorpClaimFailMsg
            - SovDisruptorMsg
            - SovStationEnteredFreeport
            - SovStructureDestroyed
            - SovStructureReinforced
            - SovStructureSelfDestructCancel
            - SovStructureSelfDestructFinished
            - SovStructureSelfDestructRequested
            - SovereigntyIHDamageMsg
            - SovereigntySBUDamageMsg
            - SovereigntyTCUDamageMsg
            - StationAggressionMsg1
            - StationAggressionMsg2
            - StationConquerMsg
            - StationServiceDisabled
            - StationServiceEnabled
            - StationStateChangeMsg
            - StoryLineMissionAvailableMsg
            - StructureAnchoring
            - StructureCourierContractChanged
            - StructureDestroyed
            - StructureFuelAlert
            - StructureImpendingAbandonmentAssetsAtRisk
            - StructureItemsDelivered
            - StructureItemsMovedToSafety
            - StructureLostArmor
            - StructureLostShields
            - StructureLowReagentsAlert
            - StructureNoReagentsAlert
            - StructureOnline
            - StructurePaintPurchased
            - StructureServicesOffline
            - StructureUnanchoring
            - StructureUnderAttack
            - StructureWentHighPower
            - StructureWentLowPower
            - StructuresJobsCancelled
            - StructuresJobsPaused
            - StructuresReinforcementChanged
            - TowerAlertMsg
            - TowerResourceAlertMsg
            - TransactionReversalMsg
            - TutorialMsg
            - 'WarAdopted '
            - WarAllyInherited
            - WarAllyOfferDeclinedMsg
            - WarConcordInvalidates
            - WarDeclared
            - WarEndedHqSecurityDrop
            - WarHQRemovedFromSpace
            - WarInherited
            - WarInvalid
            - WarRetracted
            - WarRetractedByConcord
            - WarSurrenderDeclinedMsg
            - WarSurrenderOfferMsg
            type: string
        required:
        - notification_id
        - type
        - sender_id
        - sender_type
        - timestamp
        type: object
      type: array
  parameters:
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
