openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Fleets API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Fleets
paths:
  /characters/{character_id}/fleet:
    get:
      description: Return the fleet ID the character is in, if any.
      operationId: GetCharactersCharacterIdFleet
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdFleetGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get character fleet info
      tags:
      - Fleets
      x-cache-age: 60
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}:
    get:
      description: Return details about a fleet
      operationId: GetFleetsFleetId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetsFleetIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get fleet information
      tags:
      - Fleets
      x-cache-age: 5
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    put:
      description: Update settings about a fleet
      operationId: PutFleetsFleetId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                is_free_move:
                  description: Should free-move be enabled in the fleet
                  type: boolean
                motd:
                  description: New fleet MOTD in CCP flavoured HTML
                  type: string
              type: object
        required: true
      responses:
        '204':
          description: Fleet updated
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Update fleet
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/members:
    get:
      description: Return information about fleet members
      operationId: GetFleetsFleetIdMembers
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetsFleetIdMembersGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get fleet members
      tags:
      - Fleets
      x-cache-age: 5
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    post:
      description: Invite a character into the fleet. If a character has a CSPA charge set it is not possible to invite them to the fleet using ESI
      operationId: PostFleetsFleetIdMembers
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                character_id:
                  description: The character you want to invite
                  format: int64
                  type: integer
                role:
                  description: If a character is invited with the `fleet_commander` role, neither `wing_id` or `squad_id` should be specified. If a character is invited with the `wing_commander` role, only `wing_id` should be specified. If a character is invited with the `squad_commander` role, both `wing_id` and `squad_id` should be specified. If a character is invited with the `squad_member` role, `wing_id` and `squad_id` should either both be specified or not specified at all. If they aren’t specified, the invited character will join any squad with available positions.
                  enum:
                  - fleet_commander
                  - wing_commander
                  - squad_commander
                  - squad_member
                  type: string
                squad_id:
                  format: int64
                  type: integer
                wing_id:
                  format: int64
                  type: integer
              required:
              - character_id
              - role
              type: object
        required: true
      responses:
        '204':
          description: Fleet invitation sent
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Create fleet invitation
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/members/{member_id}:
    delete:
      description: Kick a fleet member
      operationId: DeleteFleetsFleetIdMembersMemberId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: member_id
        required: true
        schema:
          description: The character ID of a member in this fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '204':
          description: Fleet member kicked
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Kick fleet member
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    put:
      description: Move a fleet member around
      operationId: PutFleetsFleetIdMembersMemberId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: member_id
        required: true
        schema:
          description: The character ID of a member in this fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                role:
                  description: If a character is moved to the `fleet_commander` role, neither `wing_id` or `squad_id` should be specified. If a character is moved to the `wing_commander` role, only `wing_id` should be specified. If a character is moved to the `squad_commander` role, both `wing_id` and `squad_id` should be specified. If a character is moved to the `squad_member` role, both `wing_id` and `squad_id` should be specified.
                  enum:
                  - fleet_commander
                  - wing_commander
                  - squad_commander
                  - squad_member
                  type: string
                squad_id:
                  format: int64
                  type: integer
                wing_id:
                  format: int64
                  type: integer
              required:
              - role
              type: object
        required: true
      responses:
        '204':
          description: Fleet invitation sent
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Move fleet member
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/squads/{squad_id}:
    delete:
      description: Delete a fleet squad, only empty squads can be deleted
      operationId: DeleteFleetsFleetIdSquadsSquadId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: squad_id
        required: true
        schema:
          description: The squad to delete
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '204':
          description: Squad deleted
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Delete fleet squad
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    put:
      description: Rename a fleet squad
      operationId: PutFleetsFleetIdSquadsSquadId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: squad_id
        required: true
        schema:
          description: The squad to rename
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  maxLength: 10
                  type: string
              required:
              - name
              type: object
        required: true
      responses:
        '204':
          description: Squad renamed
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Rename fleet squad
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/wings:
    get:
      description: Return information about wings in a fleet
      operationId: GetFleetsFleetIdWings
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetsFleetIdWingsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get fleet wings
      tags:
      - Fleets
      x-cache-age: 5
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    post:
      description: Create a new wing in a fleet
      operationId: PostFleetsFleetIdWings
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetsFleetIdWingsPost'
          description: Created
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Create fleet wing
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/wings/{wing_id}:
    delete:
      description: Delete a fleet wing, only empty wings can be deleted. The wing may contain squads, but the squads must be empty
      operationId: DeleteFleetsFleetIdWingsWingId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: wing_id
        required: true
        schema:
          description: The wing to delete
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '204':
          description: Wing deleted
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Delete fleet wing
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
    put:
      description: Rename a fleet wing
      operationId: PutFleetsFleetIdWingsWingId
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: wing_id
        required: true
        schema:
          description: The wing to rename
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  maxLength: 10
                  type: string
              required:
              - name
              type: object
        required: true
      responses:
        '204':
          description: Wing renamed
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Rename fleet wing
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /fleets/{fleet_id}/wings/{wing_id}/squads:
    post:
      description: Create a new squad in a fleet
      operationId: PostFleetsFleetIdWingsWingIdSquads
      parameters:
      - in: path
        name: fleet_id
        required: true
        schema:
          description: ID for a fleet
          format: int64
          type: integer
      - in: path
        name: wing_id
        required: true
        schema:
          description: The wing_id to create squad in
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetsFleetIdWingsWingIdSquadsPost'
          description: Created
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-fleets.write_fleet.v1
      summary: Create fleet squad
      tags:
      - Fleets
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
components:
  parameters:
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
    ContentLanguage:
      description: The language used in the response.
      schema:
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
  schemas:
    FleetsFleetIdWingsPost:
      description: 201 created object
      properties:
        wing_id:
          description: The wing_id of the newly created wing
          format: int64
          type: integer
      required:
      - wing_id
      type: object
    FleetsFleetIdGet:
      properties:
        is_free_move:
          description: Is free-move enabled
          type: boolean
        is_registered:
          description: Does the fleet have an active fleet advertisement
          type: boolean
        is_voice_enabled:
          description: Is EVE Voice enabled
          type: boolean
        motd:
          description: Fleet MOTD in CCP flavoured HTML
          type: string
      required:
      - motd
      - is_free_move
      - is_registered
      - is_voice_enabled
      type: object
    FleetsFleetIdWingsGet:
      items:
        properties:
          id:
            format: int64
            type: integer
          name:
            type: string
          squads:
            items:
              description: squad object
              properties:
                id:
                  format: int64
                  type: integer
                name:
                  type: string
              required:
              - name
              - id
              type: object
            type: array
        required:
        - name
        - id
        - squads
        type: object
      type: array
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    FleetsFleetIdMembersGet:
      items:
        properties:
          character_id:
            format: int64
            type: integer
          join_time:
            format: date-time
            type: string
          role:
            description: Member’s role in fleet
            enum:
            - fleet_commander
            - wing_commander
            - squad_commander
            - squad_member
            type: string
          role_name:
            description: Localized role names
            type: string
          ship_type_id:
            format: int64
            type: integer
          solar_system_id:
            description: Solar system the member is located in
            format: int64
            type: integer
          squad_id:
            description: ID of the squad the member is in. If not applicable, will be set to -1
            format: int64
            type: integer
          station_id:
            description: Station in which the member is docked in, if applicable
            format: int64
            type: integer
          takes_fleet_warp:
            description: Whether the member take fleet warps
            type: boolean
          wing_id:
            description: ID of the wing the member is in. If not applicable, will be set to -1
            format: int64
            type: integer
        required:
        - character_id
        - ship_type_id
        - wing_id
        - squad_id
        - role
        - role_name
        - join_time
        - takes_fleet_warp
        - solar_system_id
        type: object
      type: array
    FleetsFleetIdWingsWingIdSquadsPost:
      description: 201 created object
      properties:
        squad_id:
          description: The squad_id of the newly created squad
          format: int64
          type: integer
      required:
      - squad_id
      type: object
    CharactersCharacterIdFleetGet:
      properties:
        fleet_boss_id:
          description: Character ID of the current fleet boss
          format: int64
          type: integer
        fleet_id:
          description: The character's current fleet ID
          format: int64
          type: integer
        role:
          description: Member’s role in fleet
          enum:
          - fleet_commander
          - squad_commander
          - squad_member
          - wing_commander
          type: string
        squad_id:
          description: ID of the squad the member is in. If not applicable, will be set to -1
          format: int64
          type: integer
        wing_id:
          description: ID of the wing the member is in. If not applicable, will be set to -1
          format: int64
          type: integer
      required:
      - fleet_id
      - wing_id
      - squad_id
      - role
      - fleet_boss_id
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
