openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Wallet API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Wallet
paths:
  /characters/{character_id}/wallet:
    get:
      description: Returns a character's wallet balance
      operationId: GetCharactersCharacterIdWallet
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdWalletGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_character_wallet.v1
      summary: Get a character's wallet balance
      tags:
      - Wallet
      x-cache-age: 120
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-wallet
        max-tokens: 150
        window-size: 15m
  /characters/{character_id}/wallet/journal:
    get:
      description: Retrieve the given character's wallet journal going 30 days back
      operationId: GetCharactersCharacterIdWalletJournal
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdWalletJournalGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_character_wallet.v1
      summary: Get character wallet journal
      tags:
      - Wallet
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-wallet
        max-tokens: 150
        window-size: 15m
  /characters/{character_id}/wallet/transactions:
    get:
      description: Get wallet transactions of a character
      operationId: GetCharactersCharacterIdWalletTransactions
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: from_id
        schema:
          description: Only show transactions happened before the one referenced by this id
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdWalletTransactionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_character_wallet.v1
      summary: Get wallet transactions
      tags:
      - Wallet
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-wallet
        max-tokens: 150
        window-size: 15m
  /corporations/{corporation_id}/wallets:
    get:
      description: Get a corporation's wallets
      operationId: GetCorporationsCorporationIdWallets
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdWalletsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_corporation_wallets.v1
      summary: Returns a corporation's wallet balance
      tags:
      - Wallet
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-wallet
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Accountant
      - Junior_Accountant
  /corporations/{corporation_id}/wallets/{division}/journal:
    get:
      description: Retrieve the given corporation's wallet journal for the given division going 30 days back
      operationId: GetCorporationsCorporationIdWalletsDivisionJournal
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: path
        name: division
        required: true
        schema:
          description: Wallet key of the division to fetch journals from
          format: int64
          type: integer
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdWalletsDivisionJournalGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_corporation_wallets.v1
      summary: Get corporation wallet journal
      tags:
      - Wallet
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-wallet
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Accountant
      - Junior_Accountant
  /corporations/{corporation_id}/wallets/{division}/transactions:
    get:
      description: Get wallet transactions of a corporation
      operationId: GetCorporationsCorporationIdWalletsDivisionTransactions
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: path
        name: division
        required: true
        schema:
          description: Wallet key of the division to fetch journals from
          format: int64
          type: integer
      - in: query
        name: from_id
        schema:
          description: Only show journal entries happened before the transaction referenced by this id
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdWalletsDivisionTransactionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-wallet.read_corporation_wallets.v1
      summary: Get corporation wallet transactions
      tags:
      - Wallet
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-wallet
        max-tokens: 300
        window-size: 15m
      x-required-roles:
      - Accountant
      - Junior_Accountant
components:
  parameters:
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  schemas:
    CharactersCharacterIdWalletJournalGet:
      description: Wallet journal entries
      items:
        properties:
          amount:
            description: The amount of ISK given or taken from the wallet as a result of the given transaction. Positive when ISK is deposited into the wallet and negative when ISK is withdrawn
            format: double
            type: number
          balance:
            description: Wallet balance after transaction occurred
            format: double
            type: number
          context_id:
            description: An ID that gives extra context to the particular transaction. Because of legacy reasons the context is completely different per ref_type and means different things. It is also possible to not have a context_id
            format: int64
            type: integer
          context_id_type:
            description: The type of the given context_id if present
            enum:
            - structure_id
            - station_id
            - market_transaction_id
            - character_id
            - corporation_id
            - alliance_id
            - eve_system
            - industry_job_id
            - contract_id
            - planet_id
            - system_id
            - type_id
            type: string
          date:
            description: Date and time of transaction
            format: date-time
            type: string
          description:
            description: The reason for the transaction, mirrors what is seen in the client
            type: string
          first_party_id:
            description: The id of the first party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
            format: int64
            type: integer
          id:
            description: Unique journal reference ID
            format: int64
            type: integer
          reason:
            description: The user stated reason for the transaction. Only applies to some ref_types
            type: string
          ref_type:
            description: '"The transaction type for the given. transaction. Different transaction types will populate different attributes."'
            enum:
            - acceleration_gate_fee
            - achievement_category_milestone_reward
            - achievement_milestone_reward
            - advertisement_listing_fee
            - agent_donation
            - agent_location_services
            - agent_miscellaneous
            - agent_mission_collateral_paid
            - agent_mission_collateral_refunded
            - agent_mission_reward
            - agent_mission_reward_corporation_tax
            - agent_mission_security_tax
            - agent_mission_time_bonus_reward
            - agent_mission_time_bonus_reward_corporation_tax
            - agent_security_services
            - agent_services_rendered
            - agents_preward
            - air_career_program_reward
            - alliance_maintainance_fee
            - alliance_registration_fee
            - allignment_based_gate_toll
            - asset_safety_recovery_tax
            - bounty
            - bounty_prize
            - bounty_prize_corporation_tax
            - bounty_prizes
            - bounty_reimbursement
            - bounty_surcharge
            - brokers_fee
            - campaign_objective_isk_reward
            - clone_activation
            - clone_transfer
            - contraband_fine
            - contract_auction_bid
            - contract_auction_bid_corp
            - contract_auction_bid_refund
            - contract_auction_sold
            - contract_brokers_fee
            - contract_brokers_fee_corp
            - contract_collateral
            - contract_collateral_deposited_corp
            - contract_collateral_payout
            - contract_collateral_refund
            - contract_deposit
            - contract_deposit_corp
            - contract_deposit_refund
            - contract_deposit_sales_tax
            - contract_price
            - contract_price_payment_corp
            - contract_reversal
            - contract_reward
            - contract_reward_deposited
            - contract_reward_deposited_corp
            - contract_reward_refund
            - contract_sales_tax
            - copying
            - corporate_reward_payout
            - corporate_reward_tax
            - corporation_account_withdrawal
            - corporation_bulk_payment
            - corporation_dividend_payment
            - corporation_liquidation
            - corporation_logo_change_cost
            - corporation_payment
            - corporation_registration_fee
            - cosmetic_market_component_item_purchase
            - cosmetic_market_skin_purchase
            - cosmetic_market_skin_sale
            - cosmetic_market_skin_sale_broker_fee
            - cosmetic_market_skin_sale_tax
            - cosmetic_market_skin_transaction
            - courier_mission_escrow
            - cspa
            - cspaofflinerefund
            - daily_challenge_reward
            - daily_goal_payouts
            - daily_goal_payouts_tax
            - datacore_fee
            - dna_modification_fee
            - docking_fee
            - duel_wager_escrow
            - duel_wager_payment
            - duel_wager_refund
            - ess_escrow_transfer
            - external_trade_delivery
            - external_trade_freeze
            - external_trade_thaw
            - factory_slot_rental_fee
            - flux_payout
            - flux_tax
            - flux_ticket_repayment
            - flux_ticket_sale
            - freelance_jobs_broadcasting_fee
            - freelance_jobs_duration_fee
            - freelance_jobs_escrow_refund
            - freelance_jobs_reward
            - freelance_jobs_reward_corporation_tax
            - freelance_jobs_reward_escrow
            - gm_cash_transfer
            - gm_plex_fee_refund
            - industry_job_tax
            - industry_security_tax
            - infrastructure_hub_maintenance
            - inheritance
            - insurance
            - insurgency_corruption_contribution_reward
            - insurgency_suppression_contribution_reward
            - item_trader_payment
            - jump_clone_activation_fee
            - jump_clone_installation_fee
            - kill_right_fee
            - lp_store
            - manufacturing
            - market_escrow
            - market_fine_paid
            - market_provider_tax
            - market_security_tax
            - market_transaction
            - medal_creation
            - medal_issued
            - milestone_reward_payment
            - mission_completion
            - mission_cost
            - mission_expiration
            - mission_reward
            - npc_bounty_security_tax
            - office_rental_fee
            - operation_bonus
            - opportunity_reward
            - planetary_construction
            - planetary_export_tax
            - planetary_import_tax
            - player_donation
            - player_trading
            - project_discovery_reward
            - project_discovery_tax
            - project_payouts
            - reaction
            - redeemed_isk_token
            - release_of_impounded_property
            - repair_bill
            - reprocessing_tax
            - researching_material_productivity
            - researching_technology
            - researching_time_productivity
            - resource_wars_reward
            - reverse_engineering
            - season_challenge_reward
            - security_processing_fee
            - shares
            - skill_purchase
            - skyhook_claim_fee
            - sovereignity_bill
            - store_purchase
            - store_purchase_refund
            - structure_gate_jump
            - transaction_tax
            - under_construction
            - upkeep_adjustment_fee
            - war_ally_contract
            - war_fee
            - war_fee_surrender
            type: string
          second_party_id:
            description: The id of the second party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
            format: int64
            type: integer
          tax:
            description: Tax amount received. Only applies to tax related transactions
            format: double
            type: number
          tax_receiver_id:
            description: The corporation ID receiving any tax paid. Only applies to tax related transactions
            format: int64
            type: integer
        required:
        - date
        - id
        - ref_type
        - description
        type: object
      type: array
    CharactersCharacterIdWalletGet:
      description: Wallet balance
      format: double
      type: number
    CorporationsCorporationIdWalletsDivisionTransactionsGet:
      description: Wallet transactions
      items:
        description: wallet transaction
        properties:
          client_id:
            format: int64
            type: integer
          date:
            description: Date and time of transaction
            format: date-time
            type: string
          is_buy:
            type: boolean
          journal_ref_id:
            description: -1 if there is no corresponding wallet journal entry
            format: int64
            type: integer
          location_id:
            format: int64
            type: integer
          quantity:
            format: int64
            type: integer
          transaction_id:
            description: Unique transaction ID
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
          unit_price:
            description: Amount paid per unit
            format: double
            type: number
        required:
        - transaction_id
        - date
        - location_id
        - type_id
        - unit_price
        - quantity
        - client_id
        - is_buy
        - journal_ref_id
        type: object
      type: array
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdWalletTransactionsGet:
      description: Wallet transactions
      items:
        description: wallet transaction
        properties:
          client_id:
            format: int64
            type: integer
          date:
            description: Date and time of transaction
            format: date-time
            type: string
          is_buy:
            type: boolean
          is_personal:
            type: boolean
          journal_ref_id:
            format: int64
            type: integer
          location_id:
            format: int64
            type: integer
          quantity:
            format: int64
            type: integer
          transaction_id:
            description: Unique transaction ID
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
          unit_price:
            description: Amount paid per unit
            format: double
            type: number
        required:
        - transaction_id
        - date
        - location_id
        - type_id
        - unit_price
        - quantity
        - client_id
        - is_buy
        - is_personal
        - journal_ref_id
        type: object
      type: array
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    CorporationsCorporationIdWalletsDivisionJournalGet:
      description: Journal entries
      items:
        properties:
          amount:
            description: The amount of ISK given or taken from the wallet as a result of the given transaction. Positive when ISK is deposited into the wallet and negative when ISK is withdrawn
            format: double
            type: number
          balance:
            description: Wallet balance after transaction occurred
            format: double
            type: number
          context_id:
            description: An ID that gives extra context to the particular transaction. Because of legacy reasons the context is completely different per ref_type and means different things. It is also possible to not have a context_id
            format: int64
            type: integer
          context_id_type:
            description: The type of the given context_id if present
            enum:
            - structure_id
            - station_id
            - market_transaction_id
            - character_id
            - corporation_id
            - alliance_id
            - eve_system
            - industry_job_id
            - contract_id
            - planet_id
            - system_id
            - type_id
            type: string
          date:
            description: Date and time of transaction
            format: date-time
            type: string
          description:
            description: The reason for the transaction, mirrors what is seen in the client
            type: string
          first_party_id:
            description: The id of the first party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
            format: int64
            type: integer
          id:
            description: Unique journal reference ID
            format: int64
            type: integer
          reason:
            description: The user stated reason for the transaction. Only applies to some ref_types
            type: string
          ref_type:
            description: '"The transaction type for the given. transaction. Different transaction types will populate different attributes. Note: If you have an existing XML API application that is using ref_types, you will need to know which string ESI ref_type maps to which integer. You can look at the following file to see string->int mappings: https://github.com/ccpgames/eve-glue/blob/master/eve_glue/wallet_journal_ref.py"'
            enum:
            - acceleration_gate_fee
            - achievement_category_milestone_reward
            - achievement_milestone_reward
            - advertisement_listing_fee
            - agent_donation
            - agent_location_services
            - agent_miscellaneous
            - agent_mission_collateral_paid
            - agent_mission_collateral_refunded
            - agent_mission_reward
            - agent_mission_reward_corporation_tax
            - agent_mission_security_tax
            - agent_mission_time_bonus_reward
            - agent_mission_time_bonus_reward_corporation_tax
            - agent_security_services
            - agent_services_rendered
            - agents_preward
            - air_career_program_reward
            - alliance_maintainance_fee
            - alliance_registration_fee
            - allignment_based_gate_toll
            - asset_safety_recovery_tax
            - bounty
            - bounty_prize
            - bounty_prize_corporation_tax
            - bounty_prizes
            - bounty_reimbursement
            - bounty_surcharge
            - brokers_fee
            - campaign_objective_isk_reward
            - clone_activation
            - clone_transfer
            - contraband_fine
            - contract_auction_bid
            - contract_auction_bid_corp
            - contract_auction_bid_refund
            - contract_auction_sold
            - contract_brokers_fee
            - contract_brokers_fee_corp
            - contract_collateral
            - contract_collateral_deposited_corp
            - contract_collateral_payout
            - contract_collateral_refund
            - contract_deposit
            - contract_deposit_corp
            - contract_deposit_refund
            - contract_deposit_sales_tax
            - contract_price
            - contract_price_payment_corp
            - contract_reversal
            - contract_reward
            - contract_reward_deposited
            - contract_reward_deposited_corp
            - contract_reward_refund
            - contract_sales_tax
            - copying
            - corporate_reward_payout
            - corporate_reward_tax
            - corporation_account_withdrawal
            - corporation_bulk_payment
            - corporation_dividend_payment
            - corporation_liquidation
            - corporation_logo_change_cost
            - corporation_payment
            - corporation_registration_fee
            - cosmetic_market_component_item_purchase
            - cosmetic_market_skin_purchase
            - cosmetic_market_skin_sale
            - cosmetic_market_skin_sale_broker_fee
            - cosmetic_market_skin_sale_tax
            - cosmetic_market_skin_transaction
            - courier_mission_escrow
            - cspa
            - cspaofflinerefund
            - daily_challenge_reward
            - daily_goal_payouts
            - daily_goal_payouts_tax
            - datacore_fee
            - dna_modification_fee
            - docking_fee
            - duel_wager_escrow
            - duel_wager_payment
            - duel_wager_refund
            - ess_escrow_transfer
            - external_trade_delivery
            - external_trade_freeze
            - external_trade_thaw
            - factory_slot_rental_fee
            - flux_payout
            - flux_tax
            - flux_ticket_repayment
            - flux_ticket_sale
            - freelance_jobs_broadcasting_fee
            - freelance_jobs_duration_fee
            - freelance_jobs_escrow_refund
            - freelance_jobs_reward
            - freelance_jobs_reward_corporation_tax
            - freelance_jobs_reward_escrow
            - gm_cash_transfer
            - gm_plex_fee_refund
            - industry_job_tax
            - industry_security_tax
            - infrastructure_hub_maintenance
            - inheritance
            - insurance
            - insurgency_corruption_contribution_reward
            - insurgency_suppression_contribution_reward
            - item_trader_payment
            - jump_clone_activation_fee
            - jump_clone_installation_fee
            - kill_right_fee
            - lp_store
            - manufacturing
            - market_escrow
            - market_fine_paid
            - market_provider_tax
            - market_security_tax
            - market_transaction
            - medal_creation
            - medal_issued
            - milestone_reward_payment
            - mission_completion
            - mission_cost
            - mission_expiration
            - mission_reward
            - npc_bounty_security_tax
            - office_rental_fee
            - operation_bonus
            - opportunity_reward
            - planetary_construction
            - planetary_export_tax
            - planetary_import_tax
            - player_donation
            - player_trading
            - project_discovery_reward
            - project_discovery_tax
            - project_payouts
            - reaction
            - redeemed_isk_token
            - release_of_impounded_property
            - repair_bill
            - reprocessing_tax
            - researching_material_productivity
            - researching_technology
            - researching_time_productivity
            - resource_wars_reward
            - reverse_engineering
            - season_challenge_reward
            - security_processing_fee
            - shares
            - skill_purchase
            - skyhook_claim_fee
            - sovereignity_bill
            - store_purchase
            - store_purchase_refund
            - structure_gate_jump
            - transaction_tax
            - under_construction
            - upkeep_adjustment_fee
            - war_ally_contract
            - war_fee
            - war_fee_surrender
            type: string
          second_party_id:
            description: The id of the second party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
            format: int64
            type: integer
          tax:
            description: Tax amount received. Only applies to tax related transactions
            format: double
            type: number
          tax_receiver_id:
            description: The corporation ID receiving any tax paid. Only applies to tax related transactions
            format: int64
            type: integer
        required:
        - date
        - id
        - ref_type
        - description
        type: object
      type: array
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdWalletsGet:
      items:
        properties:
          balance:
            format: double
            type: number
          division:
            format: int64
            type: integer
        required:
        - division
        - balance
        type: object
      type: array
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
