openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Industry API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Industry
paths:
  /characters/{character_id}/industry/jobs:
    get:
      description: List industry jobs placed by a character
      operationId: GetCharactersCharacterIdIndustryJobs
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: include_completed
        schema:
          description: Whether to retrieve completed character industry jobs. Only includes jobs from the past 90 days
          type: boolean
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdIndustryJobsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_character_jobs.v1
      summary: List character industry jobs
      tags:
      - Industry
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/mining:
    get:
      description: Paginated record of all mining done by a character for the past 30 days
      operationId: GetCharactersCharacterIdMining
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdMiningGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_character_mining.v1
      summary: Character mining ledger
      tags:
      - Industry
      x-cache-age: 600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /corporation/{corporation_id}/mining/extractions:
    get:
      description: Extraction timers for all moon chunks being extracted by refineries belonging to a corporation.
      operationId: GetCorporationCorporationIdMiningExtractions
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationCorporationIdMiningExtractionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_corporation_mining.v1
      summary: Moon extraction timers
      tags:
      - Industry
      x-cache-age: 1800
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-industry
        max-tokens: 600
        window-size: 15m
      x-required-roles:
      - Station_Manager
  /corporation/{corporation_id}/mining/observers:
    get:
      description: Paginated list of all entities capable of observing and recording mining for a corporation
      operationId: GetCorporationCorporationIdMiningObservers
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationCorporationIdMiningObserversGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_corporation_mining.v1
      summary: Corporation mining observers
      tags:
      - Industry
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-industry
        max-tokens: 600
        window-size: 15m
      x-required-roles:
      - Accountant
  /corporation/{corporation_id}/mining/observers/{observer_id}:
    get:
      description: Paginated record of all mining seen by an observer
      operationId: GetCorporationCorporationIdMiningObserversObserverId
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: path
        name: observer_id
        required: true
        schema:
          description: A mining observer id
          format: int64
          type: integer
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationCorporationIdMiningObserversObserverIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_corporation_mining.v1
      summary: Observed corporation mining
      tags:
      - Industry
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-industry
        max-tokens: 600
        window-size: 15m
      x-required-roles:
      - Accountant
  /corporations/{corporation_id}/industry/jobs:
    get:
      description: List industry jobs run by a corporation
      operationId: GetCorporationsCorporationIdIndustryJobs
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - in: query
        name: include_completed
        schema:
          default: false
          description: Whether to retrieve completed corporation industry jobs. Only includes jobs from the past 90 days
          type: boolean
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdIndustryJobsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_corporation_jobs.v1
      summary: List corporation industry jobs
      tags:
      - Industry
      x-cache-age: 300
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: corp-industry
        max-tokens: 600
        window-size: 15m
      x-required-roles:
      - Factory_Manager
  /industry/facilities:
    get:
      description: Return a list of industry facilities
      operationId: GetIndustryFacilities
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndustryFacilitiesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List industry facilities
      tags:
      - Industry
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: industry
        max-tokens: 150
        window-size: 15m
  /industry/systems:
    get:
      description: Return cost indices for solar systems
      operationId: GetIndustrySystems
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndustrySystemsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List solar system cost indices
      tags:
      - Industry
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: industry
        max-tokens: 150
        window-size: 15m
components:
  parameters:
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  schemas:
    CorporationCorporationIdMiningObserversGet:
      items:
        properties:
          last_updated:
            format: date
            type: string
          observer_id:
            description: 'The entity that was observing the asteroid field when it was mined.

              '
            format: int64
            type: integer
          observer_type:
            description: The category of the observing entity
            enum:
            - structure
            type: string
        required:
        - last_updated
        - observer_id
        - observer_type
        type: object
      type: array
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    IndustrySystemsGet:
      items:
        properties:
          cost_indices:
            items:
              description: cost_indice object
              properties:
                activity:
                  enum:
                  - copying
                  - duplicating
                  - invention
                  - manufacturing
                  - none
                  - reaction
                  - researching_material_efficiency
                  - researching_technology
                  - researching_time_efficiency
                  - reverse_engineering
                  type: string
                cost_index:
                  format: double
                  type: number
              required:
              - activity
              - cost_index
              type: object
            type: array
          solar_system_id:
            format: int64
            type: integer
        required:
        - solar_system_id
        - cost_indices
        type: object
      type: array
    CorporationCorporationIdMiningObserversObserverIdGet:
      items:
        properties:
          character_id:
            description: 'The character that did the mining

              '
            format: int64
            type: integer
          last_updated:
            format: date
            type: string
          quantity:
            format: int64
            type: integer
          recorded_corporation_id:
            description: 'The corporation id of the character at the time data was recorded.

              '
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
        required:
        - last_updated
        - character_id
        - recorded_corporation_id
        - type_id
        - quantity
        type: object
      type: array
    IndustryFacilitiesGet:
      items:
        properties:
          facility_id:
            description: ID of the facility
            format: int64
            type: integer
          owner_id:
            description: Owner of the facility
            format: int64
            type: integer
          region_id:
            description: Region ID where the facility is
            format: int64
            type: integer
          solar_system_id:
            description: Solar system ID where the facility is
            format: int64
            type: integer
          tax:
            description: Tax imposed by the facility
            format: double
            type: number
          type_id:
            description: Type ID of the facility
            format: int64
            type: integer
        required:
        - facility_id
        - owner_id
        - type_id
        - solar_system_id
        - region_id
        type: object
      type: array
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdIndustryJobsGet:
      items:
        properties:
          activity_id:
            description: Job activity ID
            format: int64
            type: integer
          blueprint_id:
            format: int64
            type: integer
          blueprint_location_id:
            description: Location ID of the location from which the blueprint was installed. Normally a station ID, but can also be an asset (e.g. container) or corporation facility
            format: int64
            type: integer
          blueprint_type_id:
            format: int64
            type: integer
          completed_character_id:
            description: ID of the character which completed this job
            format: int64
            type: integer
          completed_date:
            description: Date and time when this job was completed
            format: date-time
            type: string
          cost:
            description: The sume of job installation fee and industry facility tax
            format: double
            type: number
          duration:
            description: Job duration in seconds
            format: int64
            type: integer
          end_date:
            description: Date and time when this job finished
            format: date-time
            type: string
          facility_id:
            description: ID of the facility where this job is running
            format: int64
            type: integer
          installer_id:
            description: ID of the character which installed this job
            format: int64
            type: integer
          job_id:
            description: Unique job ID
            format: int64
            type: integer
          licensed_runs:
            description: Number of runs blueprint is licensed for
            format: int64
            type: integer
          output_location_id:
            description: Location ID of the location to which the output of the job will be delivered. Normally a station ID, but can also be a corporation facility
            format: int64
            type: integer
          pause_date:
            description: Date and time when this job was paused (i.e. time when the facility where this job was installed went offline)
            format: date-time
            type: string
          probability:
            description: Chance of success for invention
            format: double
            type: number
          product_type_id:
            description: Type ID of product (manufactured, copied or invented)
            format: int64
            type: integer
          runs:
            description: Number of runs for a manufacturing job, or number of copies to make for a blueprint copy
            format: int64
            type: integer
          start_date:
            description: Date and time when this job started
            format: date-time
            type: string
          station_id:
            description: ID of the station where industry facility is located
            format: int64
            type: integer
          status:
            enum:
            - active
            - cancelled
            - delivered
            - paused
            - ready
            - reverted
            type: string
          successful_runs:
            description: Number of successful runs for this job. Equal to runs unless this is an invention job
            format: int64
            type: integer
        required:
        - job_id
        - installer_id
        - facility_id
        - station_id
        - activity_id
        - blueprint_id
        - blueprint_type_id
        - blueprint_location_id
        - output_location_id
        - runs
        - status
        - duration
        - start_date
        - end_date
        type: object
      type: array
    CorporationsCorporationIdIndustryJobsGet:
      items:
        properties:
          activity_id:
            description: Job activity ID
            format: int64
            type: integer
          blueprint_id:
            format: int64
            type: integer
          blueprint_location_id:
            description: Location ID of the location from which the blueprint was installed. Normally a station ID, but can also be an asset (e.g. container) or corporation facility
            format: int64
            type: integer
          blueprint_type_id:
            format: int64
            type: integer
          completed_character_id:
            description: ID of the character which completed this job
            format: int64
            type: integer
          completed_date:
            description: Date and time when this job was completed
            format: date-time
            type: string
          cost:
            description: The sume of job installation fee and industry facility tax
            format: double
            type: number
          duration:
            description: Job duration in seconds
            format: int64
            type: integer
          end_date:
            description: Date and time when this job finished
            format: date-time
            type: string
          facility_id:
            description: ID of the facility where this job is running
            format: int64
            type: integer
          installer_id:
            description: ID of the character which installed this job
            format: int64
            type: integer
          job_id:
            description: Unique job ID
            format: int64
            type: integer
          licensed_runs:
            description: Number of runs blueprint is licensed for
            format: int64
            type: integer
          location_id:
            description: ID of the location for the industry facility
            format: int64
            type: integer
          output_location_id:
            description: Location ID of the location to which the output of the job will be delivered. Normally a station ID, but can also be a corporation facility
            format: int64
            type: integer
          pause_date:
            description: Date and time when this job was paused (i.e. time when the facility where this job was installed went offline)
            format: date-time
            type: string
          probability:
            description: Chance of success for invention
            format: double
            type: number
          product_type_id:
            description: Type ID of product (manufactured, copied or invented)
            format: int64
            type: integer
          runs:
            description: Number of runs for a manufacturing job, or number of copies to make for a blueprint copy
            format: int64
            type: integer
          start_date:
            description: Date and time when this job started
            format: date-time
            type: string
          status:
            enum:
            - active
            - cancelled
            - delivered
            - paused
            - ready
            - reverted
            type: string
          successful_runs:
            description: Number of successful runs for this job. Equal to runs unless this is an invention job
            format: int64
            type: integer
        required:
        - job_id
        - installer_id
        - facility_id
        - location_id
        - activity_id
        - blueprint_id
        - blueprint_type_id
        - blueprint_location_id
        - output_location_id
        - runs
        - status
        - duration
        - start_date
        - end_date
        type: object
      type: array
    CharactersCharacterIdMiningGet:
      items:
        properties:
          date:
            format: date
            type: string
          quantity:
            format: int64
            type: integer
          solar_system_id:
            format: int64
            type: integer
          type_id:
            format: int64
            type: integer
        required:
        - date
        - solar_system_id
        - type_id
        - quantity
        type: object
      type: array
    CorporationCorporationIdMiningExtractionsGet:
      items:
        properties:
          chunk_arrival_time:
            description: 'The time at which the chunk being extracted will arrive and can be fractured by the moon mining drill.

              '
            format: date-time
            type: string
          extraction_start_time:
            description: 'The time at which the current extraction was initiated.

              '
            format: date-time
            type: string
          moon_id:
            format: int64
            type: integer
          natural_decay_time:
            description: 'The time at which the chunk being extracted will naturally fracture if it is not first fractured by the moon mining drill.

              '
            format: date-time
            type: string
          structure_id:
            format: int64
            type: integer
        required:
        - structure_id
        - moon_id
        - extraction_start_time
        - chunk_arrival_time
        - natural_decay_time
        type: object
      type: array
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
