openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Faction Warfare API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Faction Warfare
paths:
  /characters/{character_id}/fw/stats:
    get:
      description: 'Statistical overview of a character involved in faction warfare


        This route expires daily at 11:05'
      operationId: GetCharactersCharacterIdFwStats
      parameters:
      - description: The ID of the character
        in: path
        name: character_id
        required: true
        schema:
          $ref: '#/components/schemas/CharacterID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharactersCharacterIdFwStatsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fw_stats.v1
      summary: Overview of a character involved in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /corporations/{corporation_id}/fw/stats:
    get:
      description: 'Statistics about a corporation involved in faction warfare


        This route expires daily at 11:05'
      operationId: GetCorporationsCorporationIdFwStats
      parameters:
      - description: The ID of the corporation
        in: path
        name: corporation_id
        required: true
        schema:
          $ref: '#/components/schemas/CorporationID'
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationsCorporationIdFwStatsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-corporations.read_fw_stats.v1
      summary: Overview of a corporation involved in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/leaderboards:
    get:
      description: 'Top 4 leaderboard of factions for kills and victory points separated by total, last week and yesterday


        This route expires daily at 11:05'
      operationId: GetFwLeaderboards
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwLeaderboardsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List of the top factions in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/leaderboards/characters:
    get:
      description: 'Top 100 leaderboard of pilots for kills and victory points separated by total, last week and yesterday


        This route expires daily at 11:05'
      operationId: GetFwLeaderboardsCharacters
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwLeaderboardsCharactersGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List of the top pilots in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/leaderboards/corporations:
    get:
      description: 'Top 10 leaderboard of corporations for kills and victory points separated by total, last week and yesterday


        This route expires daily at 11:05'
      operationId: GetFwLeaderboardsCorporations
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwLeaderboardsCorporationsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List of the top corporations in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/stats:
    get:
      description: 'Statistical overviews of factions involved in faction warfare


        This route expires daily at 11:05'
      operationId: GetFwStats
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwStatsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: An overview of statistics about factions involved in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/systems:
    get:
      description: An overview of the current ownership of faction warfare solar systems
      operationId: GetFwSystems
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwSystemsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Ownership of faction warfare systems
      tags:
      - Faction Warfare
      x-cache-age: 1800
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /fw/wars:
    get:
      description: 'Data about which NPC factions are at war


        This route expires daily at 11:05'
      operationId: GetFwWars
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FwWarsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Data about which NPC factions are at war
      tags:
      - Faction Warfare
      x-compatibility-date: '2020-01-01'
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
components:
  schemas:
    FwStatsGet:
      items:
        properties:
          faction_id:
            format: int64
            type: integer
          kills:
            description: Summary of kills against an enemy faction for the given faction
            properties:
              last_week:
                description: Last week's total number of kills against enemy factions
                format: int64
                type: integer
              total:
                description: Total number of kills against enemy factions since faction warfare began
                format: int64
                type: integer
              yesterday:
                description: Yesterday's total number of kills against enemy factions
                format: int64
                type: integer
            required:
            - yesterday
            - last_week
            - total
            type: object
          pilots:
            description: How many pilots fight for the given faction
            format: int64
            type: integer
          systems_controlled:
            description: The number of solar systems controlled by the given faction
            format: int64
            type: integer
          victory_points:
            description: Summary of victory points gained for the given faction
            properties:
              last_week:
                description: Last week's victory points gained
                format: int64
                type: integer
              total:
                description: Total victory points gained since faction warfare began
                format: int64
                type: integer
              yesterday:
                description: Yesterday's victory points gained
                format: int64
                type: integer
            required:
            - yesterday
            - last_week
            - total
            type: object
        required:
        - faction_id
        - pilots
        - systems_controlled
        - kills
        - victory_points
        type: object
      type: array
    FwWarsGet:
      description: List of factions at war
      items:
        properties:
          against_id:
            description: The faction ID of the enemy faction.
            format: int64
            type: integer
          faction_id:
            format: int64
            type: integer
        required:
        - faction_id
        - against_id
        type: object
      type: array
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    CharacterID:
      examples:
      - 90000001
      format: int64
      type: integer
      x-common-model: 'true'
    CorporationsCorporationIdFwStatsGet:
      properties:
        enlisted_on:
          description: The enlistment date of the given corporation into faction warfare. Will not be included if corporation is not enlisted in faction warfare
          format: date-time
          type: string
        faction_id:
          description: The faction the given corporation is enlisted to fight for. Will not be included if corporation is not enlisted in faction warfare
          format: int64
          type: integer
        kills:
          description: Summary of kills done by the given corporation against enemy factions
          properties:
            last_week:
              description: Last week's total number of kills by members of the given corporation against enemy factions
              format: int64
              type: integer
            total:
              description: Total number of kills by members of the given corporation against enemy factions since the corporation enlisted
              format: int64
              type: integer
            yesterday:
              description: Yesterday's total number of kills by members of the given corporation against enemy factions
              format: int64
              type: integer
          required:
          - yesterday
          - last_week
          - total
          type: object
        pilots:
          description: How many pilots the enlisted corporation has. Will not be included if corporation is not enlisted in faction warfare
          format: int64
          type: integer
        victory_points:
          description: Summary of victory points gained by the given corporation for the enlisted faction
          properties:
            last_week:
              description: Last week's victory points gained by members of the given corporation
              format: int64
              type: integer
            total:
              description: Total victory points gained since the given corporation enlisted
              format: int64
              type: integer
            yesterday:
              description: Yesterday's victory points gained by members of the given corporation
              format: int64
              type: integer
          required:
          - yesterday
          - last_week
          - total
          type: object
      required:
      - kills
      - victory_points
      type: object
    FwLeaderboardsCorporationsGet:
      properties:
        kills:
          description: Top 10 rankings of corporations by number of kills from yesterday, last week and in total
          properties:
            active_total:
              description: Top 10 ranking of corporations active in faction warfare by total kills. A corporation is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 10 ranking of corporations by kills in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 10 ranking of corporations by kills in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
        victory_points:
          description: Top 10 rankings of corporations by victory points from yesterday, last week and in total
          properties:
            active_total:
              description: Top 10 ranking of corporations active in faction warfare by total victory points. A corporation is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 10 ranking of corporations by victory points in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 10 ranking of corporations by victory points in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  corporation_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
      required:
      - kills
      - victory_points
      type: object
    FwLeaderboardsCharactersGet:
      properties:
        kills:
          description: Top 100 rankings of pilots by number of kills from yesterday, last week and in total
          properties:
            active_total:
              description: Top 100 ranking of pilots active in faction warfare by total kills. A pilot is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 100 ranking of pilots by kills in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 100 ranking of pilots by kills in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
        victory_points:
          description: Top 100 rankings of pilots by victory points from yesterday, last week and in total
          properties:
            active_total:
              description: Top 100 ranking of pilots active in faction warfare by total victory points. A pilot is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 100 ranking of pilots by victory points in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 100 ranking of pilots by victory points in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  character_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
      required:
      - kills
      - victory_points
      type: object
    CorporationID:
      examples:
      - 98777771
      format: int64
      type: integer
      x-common-model: 'true'
    CharactersCharacterIdFwStatsGet:
      properties:
        current_rank:
          description: The given character's current faction rank
          format: int64
          type: integer
        enlisted_on:
          description: The enlistment date of the given character into faction warfare. Will not be included if character is not enlisted in faction warfare
          format: date-time
          type: string
        faction_id:
          description: The faction the given character is enlisted to fight for. Will not be included if character is not enlisted in faction warfare
          format: int64
          type: integer
        highest_rank:
          description: The given character's highest faction rank achieved
          format: int64
          type: integer
        kills:
          description: Summary of kills done by the given character against enemy factions
          properties:
            last_week:
              description: Last week's total number of kills by a given character against enemy factions
              format: int64
              type: integer
            total:
              description: Total number of kills by a given character against enemy factions since the character enlisted
              format: int64
              type: integer
            yesterday:
              description: Yesterday's total number of kills by a given character against enemy factions
              format: int64
              type: integer
          required:
          - yesterday
          - last_week
          - total
          type: object
        victory_points:
          description: Summary of victory points gained by the given character for the enlisted faction
          properties:
            last_week:
              description: Last week's victory points gained by the given character
              format: int64
              type: integer
            total:
              description: Total victory points gained since the given character enlisted
              format: int64
              type: integer
            yesterday:
              description: Yesterday's victory points gained by the given character
              format: int64
              type: integer
          required:
          - yesterday
          - last_week
          - total
          type: object
      required:
      - kills
      - victory_points
      type: object
    FwSystemsGet:
      items:
        properties:
          contested:
            enum:
            - captured
            - contested
            - uncontested
            - vulnerable
            type: string
          occupier_faction_id:
            format: int64
            type: integer
          owner_faction_id:
            format: int64
            type: integer
          solar_system_id:
            format: int64
            type: integer
          victory_points:
            format: int64
            type: integer
          victory_points_threshold:
            format: int64
            type: integer
        required:
        - solar_system_id
        - occupier_faction_id
        - owner_faction_id
        - victory_points
        - victory_points_threshold
        - contested
        type: object
      type: array
    FwLeaderboardsGet:
      properties:
        kills:
          description: Top 4 rankings of factions by number of kills from yesterday, last week and in total
          properties:
            active_total:
              description: Top 4 ranking of factions active in faction warfare by total kills. A faction is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 4 ranking of factions by kills in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 4 ranking of factions by kills in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of kills
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
        victory_points:
          description: Top 4 rankings of factions by victory points from yesterday, last week and in total
          properties:
            active_total:
              description: Top 4 ranking of factions active in faction warfare by total victory points. A faction is considered "active" if they have participated in faction warfare in the past 14 days
              items:
                description: active_total object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
            last_week:
              description: Top 4 ranking of factions by victory points in the past week
              items:
                description: last_week object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
            yesterday:
              description: Top 4 ranking of factions by victory points in the past day
              items:
                description: yesterday object
                properties:
                  amount:
                    description: Amount of victory points
                    format: int64
                    type: integer
                  faction_id:
                    format: int64
                    type: integer
                type: object
              type: array
          required:
          - yesterday
          - last_week
          - active_total
          type: object
      required:
      - kills
      - victory_points
      type: object
  parameters:
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
