openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Swagger Incineration (ESI) - tranquility Alliance Universe API
  version: '2020-01-01'
servers:
- url: https://esi.evetech.net
tags:
- name: Universe
paths:
  /universe/ancestries:
    get:
      description: 'Get all character ancestries


        This route expires daily at 11:05'
      operationId: GetUniverseAncestries
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseAncestriesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get ancestries
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/asteroid_belts/{asteroid_belt_id}:
    get:
      description: 'Get information on an asteroid belt


        This route expires daily at 11:05'
      operationId: GetUniverseAsteroidBeltsAsteroidBeltId
      parameters:
      - in: path
        name: asteroid_belt_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseAsteroidBeltsAsteroidBeltIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get asteroid belt information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/bloodlines:
    get:
      description: 'Get a list of bloodlines


        This route expires daily at 11:05'
      operationId: GetUniverseBloodlines
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseBloodlinesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get bloodlines
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/categories:
    get:
      description: 'Get a list of item categories


        This route expires daily at 11:05'
      operationId: GetUniverseCategories
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseCategoriesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get item categories
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/categories/{category_id}:
    get:
      description: 'Get information of an item category


        This route expires daily at 11:05'
      operationId: GetUniverseCategoriesCategoryId
      parameters:
      - in: path
        name: category_id
        required: true
        schema:
          description: An Eve item category ID
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseCategoriesCategoryIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get item category information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/constellations:
    get:
      description: 'Get a list of constellations


        This route expires daily at 11:05'
      operationId: GetUniverseConstellations
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseConstellationsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get constellations
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/constellations/{constellation_id}:
    get:
      description: 'Get information on a constellation


        This route expires daily at 11:05'
      operationId: GetUniverseConstellationsConstellationId
      parameters:
      - in: path
        name: constellation_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseConstellationsConstellationIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get constellation information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/factions:
    get:
      description: 'Get a list of factions


        This route expires daily at 11:05'
      operationId: GetUniverseFactions
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseFactionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get factions
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/graphics:
    get:
      description: 'Get a list of graphics


        This route expires daily at 11:05'
      operationId: GetUniverseGraphics
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseGraphicsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get graphics
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/graphics/{graphic_id}:
    get:
      description: 'Get information on a graphic


        This route expires daily at 11:05'
      operationId: GetUniverseGraphicsGraphicId
      parameters:
      - in: path
        name: graphic_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseGraphicsGraphicIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get graphic information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/groups:
    get:
      description: 'Get a list of item groups


        This route expires daily at 11:05'
      operationId: GetUniverseGroups
      parameters:
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseGroupsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get item groups
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/groups/{group_id}:
    get:
      description: 'Get information on an item group


        This route expires daily at 11:05'
      operationId: GetUniverseGroupsGroupId
      parameters:
      - in: path
        name: group_id
        required: true
        schema:
          description: An Eve item group ID
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseGroupsGroupIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get item group information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/ids:
    post:
      description: 'Resolve a set of names to IDs in the following categories: agents, alliances, characters, constellations, corporations factions, inventory_types, regions, stations, and systems. Only exact matches will be returned. All names searched for are cached for 12 hours'
      operationId: PostUniverseIds
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: name string
                maxLength: 100
                minLength: 1
                type: string
              maxItems: 500
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseIdsPost'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Bulk names to IDs
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/moons/{moon_id}:
    get:
      description: 'Get information on a moon


        This route expires daily at 11:05'
      operationId: GetUniverseMoonsMoonId
      parameters:
      - in: path
        name: moon_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseMoonsMoonIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get moon information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/names:
    post:
      description: 'Resolve a set of IDs to names and categories. Supported ID''s for resolving are: Characters, Corporations, Alliances, Stations, Solar Systems, Constellations, Regions, Types, Factions'
      operationId: PostUniverseNames
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: id integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseNamesPost'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get names and categories for a set of IDs
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/planets/{planet_id}:
    get:
      description: 'Get information on a planet


        This route expires daily at 11:05'
      operationId: GetUniversePlanetsPlanetId
      parameters:
      - in: path
        name: planet_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversePlanetsPlanetIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get planet information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/races:
    get:
      description: 'Get a list of character races


        This route expires daily at 11:05'
      operationId: GetUniverseRaces
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseRacesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get character races
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/regions:
    get:
      description: 'Get a list of regions


        This route expires daily at 11:05'
      operationId: GetUniverseRegions
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseRegionsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get regions
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/regions/{region_id}:
    get:
      description: 'Get information on a region


        This route expires daily at 11:05'
      operationId: GetUniverseRegionsRegionId
      parameters:
      - in: path
        name: region_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseRegionsRegionIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get region information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/stargates/{stargate_id}:
    get:
      description: 'Get information on a stargate


        This route expires daily at 11:05'
      operationId: GetUniverseStargatesStargateId
      parameters:
      - in: path
        name: stargate_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseStargatesStargateIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get stargate information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/stars/{star_id}:
    get:
      description: 'Get information on a star


        This route expires daily at 11:05'
      operationId: GetUniverseStarsStarId
      parameters:
      - in: path
        name: star_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseStarsStarIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get star information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/stations/{station_id}:
    get:
      description: 'Get information on a station


        This route expires daily at 11:05'
      operationId: GetUniverseStationsStationId
      parameters:
      - in: path
        name: station_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseStationsStationIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get station information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/structures:
    get:
      description: List all public structures
      operationId: GetUniverseStructures
      parameters:
      - in: query
        name: filter
        schema:
          description: Only list public structures that have this service online
          enum:
          - market
          - manufacturing_basic
          type: string
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseStructuresGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List all public structures
      tags:
      - Universe
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /universe/structures/{structure_id}:
    get:
      description: Returns information on requested structure if you are on the ACL. Otherwise, returns "Forbidden" for all inputs.
      operationId: GetUniverseStructuresStructureId
      parameters:
      - in: path
        name: structure_id
        required: true
        schema:
          description: An Eve structure ID
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseStructuresStructureIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - OAuth2:
        - esi-universe.read_structures.v1
      summary: Get structure information
      tags:
      - Universe
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /universe/system_jumps:
    get:
      description: Get the number of jumps in solar systems within the last hour ending at the timestamp of the Last-Modified header, excluding wormhole space. Only systems with jumps will be listed
      operationId: GetUniverseSystemJumps
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseSystemJumpsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get system jumps
      tags:
      - Universe
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /universe/system_kills:
    get:
      description: Get the number of ship, pod and NPC kills per solar system within the last hour ending at the timestamp of the Last-Modified header, excluding wormhole space. Only systems with kills will be listed
      operationId: GetUniverseSystemKills
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseSystemKillsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get system kills
      tags:
      - Universe
      x-cache-age: 3600
      x-compatibility-date: '2020-01-01'
  /universe/systems:
    get:
      description: 'Get a list of solar systems


        This route expires daily at 11:05'
      operationId: GetUniverseSystems
      parameters:
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseSystemsGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get solar systems
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/systems/{system_id}:
    get:
      description: 'Get information on a solar system.


        This route expires daily at 11:05'
      operationId: GetUniverseSystemsSystemId
      parameters:
      - in: path
        name: system_id
        required: true
        schema:
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseSystemsSystemIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get solar system information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/types:
    get:
      description: 'Get a list of type ids


        This route expires daily at 11:05'
      operationId: GetUniverseTypes
      parameters:
      - in: query
        name: page
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseTypesGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
            X-Pages:
              description: The total number of pages in the result set.
              schema:
                format: int64
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get types
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
  /universe/types/{type_id}:
    get:
      description: 'Get information on a type


        This route expires daily at 11:05'
      operationId: GetUniverseTypesTypeId
      parameters:
      - in: path
        name: type_id
        required: true
        schema:
          description: An Eve item type ID
          format: int64
          type: integer
      - $ref: '#/components/parameters/AcceptLanguage'
      - $ref: '#/components/parameters/IfNoneMatch'
      - $ref: '#/components/parameters/CompatibilityDate'
      - $ref: '#/components/parameters/Tenant'
      - $ref: '#/components/parameters/IfModifiedSince'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniverseTypesTypeIdGet'
          description: OK
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
            Content-Language:
              $ref: '#/components/headers/ContentLanguage'
            ETag:
              $ref: '#/components/headers/ETag'
            Last-Modified:
              $ref: '#/components/headers/LastModified'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get type information
      tags:
      - Universe
      x-compatibility-date: '2020-01-01'
components:
  schemas:
    UniverseMoonsMoonIdGet:
      properties:
        moon_id:
          format: int64
          type: integer
        name:
          type: string
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        system_id:
          description: The solar system this moon is in
          format: int64
          type: integer
      required:
      - moon_id
      - name
      - position
      - system_id
      type: object
    UniverseRegionsRegionIdGet:
      properties:
        constellations:
          items:
            description: constellation integer
            format: int64
            type: integer
          type: array
        description:
          type: string
        name:
          type: string
        region_id:
          format: int64
          type: integer
      required:
      - region_id
      - name
      - constellations
      type: object
    UniverseSystemKillsGet:
      items:
        properties:
          npc_kills:
            description: Number of NPC ships killed in this system
            format: int64
            type: integer
          pod_kills:
            description: Number of pods killed in this system
            format: int64
            type: integer
          ship_kills:
            description: Number of player ships killed in this system
            format: int64
            type: integer
          system_id:
            format: int64
            type: integer
        required:
        - system_id
        - ship_kills
        - npc_kills
        - pod_kills
        type: object
      type: array
    UniversePlanetsPlanetIdGet:
      properties:
        name:
          type: string
        planet_id:
          format: int64
          type: integer
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        system_id:
          description: The solar system this planet is in
          format: int64
          type: integer
        type_id:
          format: int64
          type: integer
      required:
      - planet_id
      - name
      - type_id
      - position
      - system_id
      type: object
    UniverseConstellationsConstellationIdGet:
      properties:
        constellation_id:
          format: int64
          type: integer
        name:
          type: string
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        region_id:
          description: The region this constellation is in
          format: int64
          type: integer
        systems:
          items:
            description: system integer
            format: int64
            type: integer
          type: array
      required:
      - constellation_id
      - name
      - position
      - region_id
      - systems
      type: object
    UniverseBloodlinesGet:
      items:
        properties:
          bloodline_id:
            format: int64
            type: integer
          charisma:
            format: int64
            type: integer
          corporation_id:
            format: int64
            type: integer
          description:
            type: string
          intelligence:
            format: int64
            type: integer
          memory:
            format: int64
            type: integer
          name:
            type: string
          perception:
            format: int64
            type: integer
          race_id:
            format: int64
            type: integer
          ship_type_id:
            format: int64
            type: integer
          willpower:
            format: int64
            type: integer
        required:
        - bloodline_id
        - name
        - description
        - race_id
        - ship_type_id
        - corporation_id
        - perception
        - willpower
        - charisma
        - memory
        - intelligence
        type: object
      type: array
    UniverseGraphicsGraphicIdGet:
      properties:
        collision_file:
          type: string
        graphic_file:
          type: string
        graphic_id:
          format: int64
          type: integer
        icon_folder:
          type: string
        sof_dna:
          type: string
        sof_fation_name:
          type: string
        sof_hull_name:
          type: string
        sof_race_name:
          type: string
      required:
      - graphic_id
      type: object
    UniverseSystemsSystemIdGet:
      properties:
        constellation_id:
          description: The constellation this solar system is in
          format: int64
          type: integer
        name:
          type: string
        planets:
          items:
            description: planet object
            properties:
              asteroid_belts:
                items:
                  description: asteroid_belt integer
                  format: int64
                  type: integer
                type: array
              moons:
                items:
                  description: moon integer
                  format: int64
                  type: integer
                type: array
              planet_id:
                format: int64
                type: integer
            required:
            - planet_id
            type: object
          type: array
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        security_class:
          type: string
        security_status:
          format: double
          type: number
        star_id:
          format: int64
          type: integer
        stargates:
          items:
            description: stargate integer
            format: int64
            type: integer
          type: array
        stations:
          items:
            description: station integer
            format: int64
            type: integer
          type: array
        system_id:
          format: int64
          type: integer
      required:
      - system_id
      - name
      - position
      - security_status
      - constellation_id
      type: object
    Error:
      properties:
        details:
          description: List of individual error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        error:
          description: Error message.
          type: string
      required:
      - error
      type: object
    ErrorDetail:
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    UniverseIdsPost:
      properties:
        agents:
          items:
            description: agent object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        alliances:
          items:
            description: alliance object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        characters:
          items:
            description: character object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        constellations:
          items:
            description: constellation object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        corporations:
          items:
            description: corporation object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        factions:
          items:
            description: faction object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        inventory_types:
          items:
            description: inventory_type object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        regions:
          items:
            description: region object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        stations:
          items:
            description: station object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
        systems:
          items:
            description: system object
            properties:
              id:
                format: int64
                type: integer
              name:
                type: string
            type: object
          type: array
      type: object
    UniverseSystemsGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseRegionsGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseNamesPost:
      items:
        properties:
          category:
            enum:
            - alliance
            - character
            - constellation
            - corporation
            - inventory_type
            - region
            - solar_system
            - station
            - faction
            type: string
          id:
            format: int64
            type: integer
          name:
            type: string
        required:
        - id
        - name
        - category
        type: object
      type: array
    UniverseStargatesStargateIdGet:
      properties:
        destination:
          properties:
            stargate_id:
              description: The stargate this stargate connects to
              format: int64
              type: integer
            system_id:
              description: The solar system this stargate connects to
              format: int64
              type: integer
          required:
          - system_id
          - stargate_id
          type: object
        name:
          type: string
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        stargate_id:
          format: int64
          type: integer
        system_id:
          description: The solar system this stargate is in
          format: int64
          type: integer
        type_id:
          format: int64
          type: integer
      required:
      - stargate_id
      - name
      - type_id
      - position
      - system_id
      - destination
      type: object
    UniverseStationsStationIdGet:
      properties:
        max_dockable_ship_volume:
          format: double
          type: number
        name:
          type: string
        office_rental_cost:
          format: double
          type: number
        owner:
          description: ID of the corporation that controls this station
          format: int64
          type: integer
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        race_id:
          format: int64
          type: integer
        reprocessing_efficiency:
          format: double
          type: number
        reprocessing_stations_take:
          format: double
          type: number
        services:
          items:
            description: service string
            enum:
            - bounty-missions
            - assasination-missions
            - courier-missions
            - interbus
            - reprocessing-plant
            - refinery
            - market
            - black-market
            - stock-exchange
            - cloning
            - surgery
            - dna-therapy
            - repair-facilities
            - factory
            - labratory
            - gambling
            - fitting
            - paintshop
            - news
            - storage
            - insurance
            - docking
            - office-rental
            - jump-clone-facility
            - loyalty-point-store
            - navy-offices
            - security-offices
            type: string
          type: array
        station_id:
          format: int64
          type: integer
        system_id:
          description: The solar system this station is in
          format: int64
          type: integer
        type_id:
          format: int64
          type: integer
      required:
      - station_id
      - name
      - type_id
      - position
      - system_id
      - reprocessing_efficiency
      - reprocessing_stations_take
      - max_dockable_ship_volume
      - office_rental_cost
      - services
      type: object
    UniverseGroupsGroupIdGet:
      properties:
        category_id:
          format: int64
          type: integer
        group_id:
          format: int64
          type: integer
        name:
          type: string
        published:
          type: boolean
        types:
          items:
            description: type integer
            format: int64
            type: integer
          type: array
      required:
      - group_id
      - name
      - published
      - category_id
      - types
      type: object
    UniverseTypesGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseSystemJumpsGet:
      items:
        properties:
          ship_jumps:
            format: int64
            type: integer
          system_id:
            format: int64
            type: integer
        required:
        - system_id
        - ship_jumps
        type: object
      type: array
    UniverseStructuresGet:
      items:
        format: int64
        type: integer
      type: array
      uniqueItems: true
    UniverseAsteroidBeltsAsteroidBeltIdGet:
      properties:
        name:
          type: string
        position:
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        system_id:
          description: The solar system this asteroid belt is in
          format: int64
          type: integer
      required:
      - name
      - position
      - system_id
      type: object
    UniverseTypesTypeIdGet:
      properties:
        capacity:
          format: double
          type: number
        description:
          type: string
        dogma_attributes:
          items:
            description: dogma_attribute object
            properties:
              attribute_id:
                format: int64
                type: integer
              value:
                format: double
                type: number
            required:
            - attribute_id
            - value
            type: object
          type: array
        dogma_effects:
          items:
            description: dogma_effect object
            properties:
              effect_id:
                format: int64
                type: integer
              is_default:
                type: boolean
            required:
            - effect_id
            - is_default
            type: object
          type: array
        graphic_id:
          format: int64
          type: integer
        group_id:
          format: int64
          type: integer
        icon_id:
          format: int64
          type: integer
        market_group_id:
          description: This only exists for types that can be put on the market
          format: int64
          type: integer
        mass:
          format: double
          type: number
        name:
          type: string
        packaged_volume:
          format: double
          type: number
        portion_size:
          format: int64
          type: integer
        published:
          type: boolean
        radius:
          format: double
          type: number
        type_id:
          format: int64
          type: integer
        volume:
          format: double
          type: number
      required:
      - type_id
      - name
      - description
      - published
      - group_id
      type: object
    UniverseFactionsGet:
      items:
        properties:
          corporation_id:
            format: int64
            type: integer
          description:
            type: string
          faction_id:
            format: int64
            type: integer
          is_unique:
            type: boolean
          militia_corporation_id:
            format: int64
            type: integer
          name:
            type: string
          size_factor:
            format: double
            type: number
          solar_system_id:
            format: int64
            type: integer
          station_count:
            format: int64
            type: integer
          station_system_count:
            format: int64
            type: integer
        required:
        - faction_id
        - name
        - description
        - size_factor
        - station_count
        - station_system_count
        - is_unique
        type: object
      type: array
    UniverseAncestriesGet:
      items:
        properties:
          bloodline_id:
            description: The bloodline associated with this ancestry
            format: int64
            type: integer
          description:
            type: string
          icon_id:
            format: int64
            type: integer
          id:
            format: int64
            type: integer
          name:
            type: string
          short_description:
            type: string
        required:
        - id
        - name
        - bloodline_id
        - description
        type: object
      type: array
    UniverseGraphicsGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseCategoriesCategoryIdGet:
      properties:
        category_id:
          format: int64
          type: integer
        groups:
          items:
            description: group integer
            format: int64
            type: integer
          type: array
        name:
          type: string
        published:
          type: boolean
      required:
      - category_id
      - name
      - published
      - groups
      type: object
    UniverseRacesGet:
      items:
        properties:
          alliance_id:
            description: The alliance generally associated with this race
            format: int64
            type: integer
          description:
            type: string
          name:
            type: string
          race_id:
            format: int64
            type: integer
        required:
        - race_id
        - name
        - description
        - alliance_id
        type: object
      type: array
    UniverseConstellationsGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseCategoriesGet:
      items:
        format: int64
        type: integer
      type: array
    UniverseStructuresStructureIdGet:
      properties:
        name:
          description: The full name of the structure
          type: string
        owner_id:
          description: The ID of the corporation who owns this particular structure
          format: int64
          type: integer
        position:
          description: 'Coordinates of the structure in Cartesian space relative to the Sun, in metres.

            '
          properties:
            x:
              format: double
              type: number
            y:
              format: double
              type: number
            z:
              format: double
              type: number
          required:
          - x
          - y
          - z
          type: object
        solar_system_id:
          format: int64
          type: integer
        type_id:
          format: int64
          type: integer
      required:
      - name
      - solar_system_id
      - owner_id
      type: object
    UniverseStarsStarIdGet:
      properties:
        age:
          description: Age of star in years
          format: int64
          type: integer
        luminosity:
          format: double
          type: number
        name:
          type: string
        radius:
          format: int64
          type: integer
        solar_system_id:
          format: int64
          type: integer
        spectral_class:
          enum:
          - K2 V
          - K4 V
          - G2 V
          - G8 V
          - M7 V
          - K7 V
          - M2 V
          - K5 V
          - M3 V
          - G0 V
          - G7 V
          - G3 V
          - F9 V
          - G5 V
          - F6 V
          - K8 V
          - K9 V
          - K6 V
          - G9 V
          - G6 V
          - G4 VI
          - G4 V
          - F8 V
          - F2 V
          - F1 V
          - K3 V
          - F0 VI
          - G1 VI
          - G0 VI
          - K1 V
          - M4 V
          - M1 V
          - M6 V
          - M0 V
          - K2 IV
          - G2 VI
          - K0 V
          - K5 IV
          - F5 VI
          - G6 VI
          - F6 VI
          - F2 IV
          - G3 VI
          - M8 V
          - F1 VI
          - K1 IV
          - F7 V
          - G5 VI
          - M5 V
          - G7 VI
          - F5 V
          - F4 VI
          - F8 VI
          - K3 IV
          - F4 IV
          - F0 V
          - G7 IV
          - G8 VI
          - F2 VI
          - F4 V
          - F7 VI
          - F3 V
          - G1 V
          - G9 VI
          - F3 IV
          - F9 VI
          - M9 V
          - K0 IV
          - F1 IV
          - G4 IV
          - F3 VI
          - K4 IV
          - G5 IV
          - G3 IV
          - G1 IV
          - K7 IV
          - G0 IV
          - K6 IV
          - K9 IV
          - G2 IV
          - F9 IV
          - F0 IV
          - K8 IV
          - G8 IV
          - F6 IV
          - F5 IV
          - A0
          - A0IV
          - A0IV2
          type: string
        temperature:
          format: int64
          type: integer
        type_id:
          format: int64
          type: integer
      required:
      - name
      - type_id
      - age
      - luminosity
      - radius
      - spectral_class
      - temperature
      - solar_system_id
      type: object
    UniverseGroupsGet:
      items:
        format: int64
        type: integer
      type: array
  parameters:
    IfNoneMatch:
      description: The ETag of the previous request. A 304 will be returned if this matches the current ETag.
      in: header
      name: If-None-Match
      schema:
        type: string
    Tenant:
      description: The tenant ID for the request.
      example: ''
      in: header
      name: X-Tenant
      schema:
        default: tranquility
        type: string
    CompatibilityDate:
      description: The compatibility date for the request.
      in: header
      name: X-Compatibility-Date
      required: true
      schema:
        enum:
        - '2020-01-01'
        format: date
        type: string
    AcceptLanguage:
      description: The language to use for the response.
      in: header
      name: Accept-Language
      schema:
        default: en
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    IfModifiedSince:
      description: The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
      in: header
      name: If-Modified-Since
      schema:
        type: string
  headers:
    ContentLanguage:
      description: The language used in the response.
      schema:
        enum:
        - en
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        type: string
    LastModified:
      description: The last modified date of the response. Use this with If-Modified-Since to check whether the resource has changed.
      schema:
        type: string
    ETag:
      description: The ETag value of the response body. Use this with If-None-Match to check whether the resource has changed.
      schema:
        type: string
    CacheControl:
      description: Directives for caching mechanisms. It controls how the response can be cached, by whom, and for how long.
      schema:
        type: string
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-access.read_lists.v1: esi-access.read_lists.v1
            esi-activities.read_character.v1: esi-activities.read_character.v1
            esi-alliances.read_contacts.v1: esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: esi-characters.read_fatigue.v1
            esi-characters.read_freelance_jobs.v1: esi-characters.read_freelance_jobs.v1
            esi-characters.read_fw_stats.v1: esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: esi-characters.read_standings.v1
            esi-characters.read_titles.v1: esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: esi-clones.read_clones.v1
            esi-clones.read_implants.v1: esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: esi-corporations.read_facilities.v1
            esi-corporations.read_freelance_jobs.v1: esi-corporations.read_freelance_jobs.v1
            esi-corporations.read_fw_stats.v1: esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: esi-corporations.read_medals.v1
            esi-corporations.read_projects.v1: esi-corporations.read_projects.v1
            esi-corporations.read_standings.v1: esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: esi-killmails.read_killmails.v1
            esi-location.read_location.v1: esi-location.read_location.v1
            esi-location.read_online.v1: esi-location.read_online.v1
            esi-location.read_ship_type.v1: esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: esi-mail.read_mail.v1
            esi-mail.send_mail.v1: esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: esi-skills.read_skills.v1
            esi-structures.read_character.v1: esi-structures.read_character.v1
            esi-structures.read_corporation.v1: esi-structures.read_corporation.v1
            esi-ui.open_window.v1: esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: esi-wallet.read_corporation_wallets.v1
          tokenUrl: https://login.eveonline.com/v2/oauth/token
      type: oauth2
